<a href="https://colab.research.google.com/github/Randasabag/Etude-de-march-de-la-poule-qui-chante-avec-Python/blob/main/projet9V1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# <font color='indianred'> LA POULE QUI CHANTE </font>
##MISSION : Analyse pour le lancement à l’international en groupant les pays à cibler pour exporter nos poulets

1ère partie : Prétraitement des données


2ème partie : Analyse  
<li>ACP afin de visualiser les résultats de ton analyse, comprendre les groupes, les liens entre les variables, les liens entre les individus</li>
<li>Méthode des k-means, afin d’affiner l’analyse et comparer les résultats des deux méthodes de clustering et analyse des centroides des classes</li>
<li>Classification ascendante hiérarchique avec un dendrogramme comme visualisation</li>


# Sommaire :
**Partie 1 : Importation des données**
 - <a href="#C1">Importation des librairies</a>
 - <a href="#C2">Importation des jeux de données</a>
 
**Partie 2 : Analyse des jeux de données**
 - <a href="#C3">Affichage du nombre de lignes et colonnes des jeux de données </a>
 - <a href="#C4">Affichage des informations des jeux de données </a>
 - <a href="#C5">Analyse des valeurs manquantes</a>
 - <a href="#C6">Unicité de la clé primaire</a>
 - <a href="#C7">Analyse des doublons</a>
 - <a href="#C8">Jointure des tables</a>
 - <a href="#C9">Indicateurs choisis</a>



**Partie 3 : Analyse univariée des indicateurs**
 - <a href="#C10">Disponibilité alimentaire</a>
 - <a href="#C11">Importations</a>
 - <a href="#C12">Production</a>
 - <a href="#C13">Population</a>
 - <a href="#C14">PIB/Habitant</a>
 - <a href="#C15">Indice de stabilité politique</a>


**Partie 4 : Analyse bivariée des indicateurs**
 - <a href="#C16">Disponibilité alimentaire/Importations</a>
 - <a href="#C17">Disponibilité alimentaire/Production</a>
 - <a href="#C18">Importations/Production</a>
 - <a href="#C19">Importations/Population</a>
 - <a href="#C20">Indice de stabilité politique/PIB par Habitant</a>

**Partie 5 : Analyse bivariée des indicateurs** 
 - <a href="#C21"></a>

# **<font color='indianred'>Partie 1 : Importation des données</font>**

# <a name="C1"><font color='LightSeaGreen'>Importation des librairies</font></a>

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import scipy.stats as st
import io
from google.colab import files

# <a name="C2"><font color='LightSeaGreen'>Importation des données</font></a>

In [2]:
uploaded = files.upload()

Saving DisponibiliteAlimentaire_2017.csv to DisponibiliteAlimentaire_2017.csv
Saving pibindice.csv to pibindice.csv
Saving Population_2000_2018.csv to Population_2000_2018.csv

In [3]:
from google.colab import files
functions = files.upload()

Saving functions.py to functions.py

In [125]:
#Disponibilité alimentaire pour l'année 2017
df_dispo=pd.read_csv(io.BytesIO(uploaded['DisponibiliteAlimentaire_2017.csv'])) 
df_dispo.head()

,Code Domaine,Domaine,Code zone,Zone,Code Élément,Élément,Code Produit,Produit,Code année,Année,Unité,Valeur,Symbole,Description du Symbole
0,FBS,Nouveaux Bilans Alimentaire,2,Afghanistan,5511,Production,2511,Blé et produits,2017,2017,Milliers de tonnes,4281.0,S,Données standardisées
1,FBS,Nouveaux Bilans Alimentaire,2,Afghanistan,5611,Importations - Quantité,2511,Blé et produits,2017,2017,Milliers de tonnes,2302.0,S,Données standardisées
2,FBS,Nouveaux Bilans Alimentaire,2,Afghanistan,5072,Variation de stock,2511,Blé et produits,2017,2017,Milliers de tonnes,-119.0,S,Données standardisées
3,FBS,Nouveaux Bilans Alimentaire,2,Afghanistan,5911,Exportations - Quantité,2511,Blé et produits,2017,2017,Milliers de tonnes,0.0,S,Données standardisées
4,FBS,Nouveaux Bilans Alimentaire,2,Afghanistan,5301,Disponibilité intérieure,2511,Blé et produits,2017,2017,Milliers de tonnes,6701.0,S,Données standardisées

In [126]:
#Population entre les années 2000 et 2018
df_pop=pd.read_csv(io.BytesIO(uploaded['Population_2000_2018.csv'])) 
df_pop.head()

,Code Domaine,Domaine,Code zone,Zone,Code Élément,Élément,Code Produit,Produit,Code année,Année,Unité,Valeur,Symbole,Description du Symbole,Note
0,OA,Séries temporelles annuelles,2,Afghanistan,511,Population totale,3010,Population-Estimations,2000,2000,1000 personnes,20779.953,X,Sources internationales sûres,NaN
1,OA,Séries temporelles annuelles,2,Afghanistan,511,Population totale,3010,Population-Estimations,2001,2001,1000 personnes,21606.988,X,Sources internationales sûres,NaN
2,OA,Séries temporelles annuelles,2,Afghanistan,511,Population totale,3010,Population-Estimations,2002,2002,1000 personnes,22600.770,X,Sources internationales sûres,NaN
3,OA,Séries temporelles annuelles,2,Afghanistan,511,Population totale,3010,Population-Estimations,2003,2003,1000 personnes,23680.871,X,Sources internationales sûres,NaN
4,OA,Séries temporelles annuelles,2,Afghanistan,511,Population totale,3010,Population-Estimations,2004,2004,1000 personnes,24726.684,X,Sources internationales sûres,NaN

In [127]:
#Tableau regroupant les données sur le PIB/habitant et l'indice de stabilité politique
df_pibind=pd.read_csv(io.BytesIO(uploaded['pibindice.csv'])) 
df_pibind.head()

,Code Domaine,Domaine,Code zone (FAO),Zone,Code Élément,Élément,Code Produit,Produit,Code année,Année,Unité,Valeur,Symbole,Description du Symbole,Note
0,FS,Données de la sécurité alimentaire,2,Afghanistan,6126,Valeur,22013,"PIB par habitant, ($ PPA internationaux consta...",2017,2017,I$,2058.40,X,Sources internationales sûres,NaN
1,FS,Données de la sécurité alimentaire,2,Afghanistan,6125,Valeur,21032,Stabilité politique et absence de violence/ter...,2017,2017,indice,-2.80,X,Sources internationales sûres,NaN
2,FS,Données de la sécurité alimentaire,202,Afrique du Sud,6126,Valeur,22013,"PIB par habitant, ($ PPA internationaux consta...",2017,2017,I$,12701.30,X,Sources internationales sûres,NaN
3,FS,Données de la sécurité alimentaire,202,Afrique du Sud,6125,Valeur,21032,Stabilité politique et absence de violence/ter...,2017,2017,indice,-0.28,X,Sources internationales sûres,NaN
4,FS,Données de la sécurité alimentaire,3,Albanie,6126,Valeur,22013,"PIB par habitant, ($ PPA internationaux consta...",2017,2017,I$,12771.00,X,Sources internationales sûres,NaN

##<font color='purple'>Préparation des données</font>

### Table Disponibilité Alimentaire

In [128]:
#La table Disponibilité Alimentaire contient des données pour l'année 2017
#Garder la viande de volailles 
df_dispovol=df_dispo[df_dispo['Produit']=='Viande de Volailles']     
#renomme la colonne zone par pays
df_dispovol=df_dispovol.rename(columns={'Zone':'Pays'})   
df_dispovol.head()

,Code Domaine,Domaine,Code zone,Pays,Code Élément,Élément,Code Produit,Produit,Code année,Année,Unité,Valeur,Symbole,Description du Symbole
651,FBS,Nouveaux Bilans Alimentaire,2,Afghanistan,5511,Production,2734,Viande de Volailles,2017,2017,Milliers de tonnes,28.0,S,Données standardisées
652,FBS,Nouveaux Bilans Alimentaire,2,Afghanistan,5611,Importations - Quantité,2734,Viande de Volailles,2017,2017,Milliers de tonnes,29.0,S,Données standardisées
653,FBS,Nouveaux Bilans Alimentaire,2,Afghanistan,5072,Variation de stock,2734,Viande de Volailles,2017,2017,Milliers de tonnes,0.0,S,Données standardisées
654,FBS,Nouveaux Bilans Alimentaire,2,Afghanistan,5301,Disponibilité intérieure,2734,Viande de Volailles,2017,2017,Milliers de tonnes,57.0,S,Données standardisées
655,FBS,Nouveaux Bilans Alimentaire,2,Afghanistan,5123,Pertes,2734,Viande de Volailles,2017,2017,Milliers de tonnes,2.0,S,Données standardisées

In [129]:
df_dispovol=df_dispovol[['Pays', 'Élément', 'Unité', 'Valeur']]
df_dispovol.head()

            Pays                   Élément               Unité  Valeur
651  Afghanistan                Production  Milliers de tonnes    28.0
652  Afghanistan   Importations - Quantité  Milliers de tonnes    29.0
653  Afghanistan        Variation de stock  Milliers de tonnes     0.0
654  Afghanistan  Disponibilité intérieure  Milliers de tonnes    57.0
655  Afghanistan                    Pertes  Milliers de tonnes     2.0

In [130]:
df_dispovol=df_dispovol.pivot_table(index='Pays', columns='Élément', values='Valeur', aggfunc=sum)
df_dispovol.head()

Élément,Alimentation pour touristes,Aliments pour animaux,Autres utilisations (non alimentaire),Disponibilité alimentaire (Kcal/personne/jour),Disponibilité alimentaire en quantité (kg/personne/an),Disponibilité de matière grasse en quantité (g/personne/jour),Disponibilité de protéines en quantité (g/personne/jour),Disponibilité intérieure,Exportations - Quantité,Importations - Quantité,Nourriture,Pertes,Production,Résidus,Semences,Traitement,Variation de stock
Pays,,,,,,,,,,,,,,,,,
Afghanistan,NaN,NaN,NaN,5.0,1.53,0.33,0.54,57.0,NaN,29.0,55.0,2.0,28.0,0.0,NaN,NaN,0.0
Afrique du Sud,0.0,NaN,NaN,143.0,35.69,9.25,14.11,2118.0,63.0,514.0,2035.0,83.0,1667.0,0.0,NaN,NaN,0.0
Albanie,NaN,NaN,NaN,85.0,16.36,6.45,6.26,47.0,0.0,38.0,47.0,NaN,13.0,0.0,NaN,NaN,4.0
Algérie,0.0,NaN,NaN,22.0,6.38,1.50,1.97,277.0,0.0,2.0,264.0,13.0,275.0,0.0,NaN,NaN,0.0
Allemagne,NaN,NaN,NaN,71.0,19.47,4.16,7.96,1739.0,646.0,842.0,1609.0,NaN,1514.0,-38.0,NaN,167.0,-29.0

In [131]:
df_dispovol=df_dispovol.reset_index()
df_dispovol=df_dispovol[['Pays', 'Disponibilité alimentaire en quantité (kg/personne/an)', 'Disponibilité intérieure', 'Exportations - Quantité',	'Importations - Quantité', 'Production', 'Variation de stock']]
df_dispovol.head(2)

Élément,Pays,Disponibilité alimentaire en quantité (kg/personne/an),Disponibilité intérieure,Exportations - Quantité,Importations - Quantité,Production,Variation de stock
0,Afghanistan,1.53,57.0,NaN,29.0,28.0,0.0
1,Afrique du Sud,35.69,2118.0,63.0,514.0,1667.0,0.0

In [132]:
df_dispovol=df_dispovol.rename(columns={'Disponibilité alimentaire en quantité (kg/personne/an)':'Disponibilité alimentaire', 'Exportations - Quantité' : 'Exportations', 'Importations - Quantité':'Importations'})

### Table Population

In [133]:
#Garder l'année 2017 
df_pop2017=df_pop[df_pop['Année']==2017]        
df_pop2017.head()

,Code Domaine,Domaine,Code zone,Zone,Code Élément,Élément,Code Produit,Produit,Code année,Année,Unité,Valeur,Symbole,Description du Symbole,Note
17,OA,Séries temporelles annuelles,2,Afghanistan,511,Population totale,3010,Population-Estimations,2017,2017,1000 personnes,36296.113,X,Sources internationales sûres,NaN
36,OA,Séries temporelles annuelles,202,Afrique du Sud,511,Population totale,3010,Population-Estimations,2017,2017,1000 personnes,57009.756,X,Sources internationales sûres,NaN
55,OA,Séries temporelles annuelles,3,Albanie,511,Population totale,3010,Population-Estimations,2017,2017,1000 personnes,2884.169,X,Sources internationales sûres,NaN
74,OA,Séries temporelles annuelles,4,Algérie,511,Population totale,3010,Population-Estimations,2017,2017,1000 personnes,41389.189,X,Sources internationales sûres,NaN
93,OA,Séries temporelles annuelles,79,Allemagne,511,Population totale,3010,Population-Estimations,2017,2017,1000 personnes,82658.409,X,Sources internationales sûres,NaN

In [134]:
df_pop2017=df_pop2017[['Zone', 'Unité', 'Valeur']]
df_pop2017.head()

              Zone           Unité     Valeur
17     Afghanistan  1000 personnes  36296.113
36  Afrique du Sud  1000 personnes  57009.756
55         Albanie  1000 personnes   2884.169
74         Algérie  1000 personnes  41389.189
93       Allemagne  1000 personnes  82658.409

In [135]:
#renomme la colonne zone par pays
df_pop2017=df_pop2017.rename(columns={'Zone':'Pays', 'Valeur':'Population'}) 
df_pop2017.head()

              Pays           Unité  Population
17     Afghanistan  1000 personnes   36296.113
36  Afrique du Sud  1000 personnes   57009.756
55         Albanie  1000 personnes    2884.169
74         Algérie  1000 personnes   41389.189
93       Allemagne  1000 personnes   82658.409

In [136]:
df_pop2017['Population']=df_pop2017['Population'] * 1000
df_pop2017.head()

              Pays           Unité  Population
17     Afghanistan  1000 personnes  36296113.0
36  Afrique du Sud  1000 personnes  57009756.0
55         Albanie  1000 personnes   2884169.0
74         Algérie  1000 personnes  41389189.0
93       Allemagne  1000 personnes  82658409.0

In [137]:
df_pop2017=df_pop2017[['Pays', 'Population']]
df_pop2017.head()

              Pays  Population
17     Afghanistan  36296113.0
36  Afrique du Sud  57009756.0
55         Albanie   2884169.0
74         Algérie  41389189.0
93       Allemagne  82658409.0

### Table PIB et Indice de stabilité politique

In [138]:
#df_pibind.head(2)

In [139]:
df_pibind=df_pibind.pivot_table(index='Zone', columns='Produit', values='Valeur', aggfunc=sum)
df_pibind.head()

Produit,"PIB par habitant, ($ PPA internationaux constants de 2011)",Stabilité politique et absence de violence/terrorisme (indice)
Zone,,
Afghanistan,2058.4,-2.80
Afrique du Sud,12701.3,-0.28
Albanie,12771.0,0.38
Algérie,11737.4,-0.92
Allemagne,52952.9,0.59

In [140]:
df_pibind=df_pibind.reset_index()
#renomme la colonne zone par pays
df_pibind=df_pibind.rename(columns={'Zone':'Pays', 'PIB par habitant, ($ PPA internationaux constants de 2011)' : 'PIB/Hab', 'Stabilité politique et absence de violence/terrorisme (indice)': 'Indice de stabilité'}) 
df_pibind.head()

Produit            Pays  PIB/Hab  Indice de stabilité
0           Afghanistan   2058.4                -2.80
1        Afrique du Sud  12701.3                -0.28
2               Albanie  12771.0                 0.38
3               Algérie  11737.4                -0.92
4             Allemagne  52952.9                 0.59

# **<font color='indianred'>Partie 2 : Analyse des jeux de données</font>**

# <a name="C3"><font color='LightSeaGreen'>Affichage du nombre de lignes et colonnes des jeux de données</font></a>

In [141]:
#nombre de lignes et colonnes
print('Disponibilité alimentaire',df_dispovol.shape)
print('Population',df_pop2017.shape)
print('PIB_Indice',df_pibind.shape)

Disponibilité alimentaire (172, 7)
Population (236, 2)
PIB_Indice (198, 3)

# <a name="C4"><font color='LightSeaGreen'>Affichage des informations des jeux de données</font></a>

In [142]:
print('Table Disponibilité Alimentaire')
df_dispovol.info()
print('\n')
print('Table Population')
print('-------------------------------------')
df_pop2017.info()
print('\n')
print('Table PIB Indice')
print('-------------------------------------')
df_pibind.info()

Table Disponibilité Alimentaire
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 172 entries, 0 to 171
Data columns (total 7 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Pays                       172 non-null    object
 1   Disponibilité alimentaire  172 non-null    float64
 2   Disponibilité intérieure   170 non-null    float64
 3   Exportations               135 non-null    float64
 4   Importations               170 non-null    float64
 5   Production                 168 non-null    float64
 6   Variation de stock         169 non-null    float64
dtypes: float64(6), object(1)
memory usage: 9.5+ KB


Table Population
-------------------------------------
<class 'pandas.core.frame.DataFrame'>
Int64Index: 236 entries, 17 to 4409
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Pays        236 non-null    object
 1   Population  236 non-null    float64
dtypes: float64(1), object(1)
memory usage: 5.5+ KB


Table PIB Indice
-------------------------------------
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 198 entries, 0 to 197
Data columns (total 3 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Pays                 198 non-null    object
 1   PIB/Hab              187 non-null    float64
 2   Indice de stabilité  197 non-null    float64
dtypes: float64(2), object(1)
memory usage: 4.8+ KB

# <a name="C5"><font color='LightSeaGreen'>Analyse des valeurs manquantes</font></a>

In [143]:
#Création d'une fonction calculant le pourcentage de valeurs manquantes 
#et affichant une heatmap pour visualiser les valeurs manquantes 
def val_manq(df):
    ligne,colonne=df.shape
    nb_cell=ligne*colonne
    nb_null=df.isnull().sum().sum()
    prct=nb_null *100/nb_cell
    print('Nombre de valeurs manquantes =',nb_null)
    print('Nombre de cellulles totales =',nb_cell)
    print('Pourcentage de valeurs manquantes = ',round(prct,2),'%') 
    print('\n')
    #print('Pourcentage de valeurs manquantes avec le nombre de colonnes =\n',(df.isna().sum()).value_counts(ascending=True))
    #Calcul des pourcentages de valeurs manquantes par variable(colonne)
    print('\n')
    print('Pourcentage de valeurs manquantes par variable/colonne =\n', 
          (df.isna().sum()).sort_values(ascending=True))
    print('\n')

In [144]:
#Appel de la fonction val_manq 
#Affichage des pourcentages de valeurs manquantes des 2 jeux de données 
print('1-Table disponibilité alimentaire :')
val_manq(df_dispovol)
print('---------------------------------------')
print('2-Table population :')
val_manq(df_pop2017)
print('---------------------------------------')
print('3-Table PIB Indice :')
val_manq(df_pibind)

1-Table disponibilité alimentaire :
Nombre de valeurs manquantes = 48
Nombre de cellulles totales = 1204
Pourcentage de valeurs manquantes =  3.99 %




Pourcentage de valeurs manquantes par variable/colonne =
 Élément
Pays                          0
Disponibilité alimentaire     0
Disponibilité intérieure      2
Importations                  2
Variation de stock            3
Production                    4
Exportations                 37
dtype: int64


---------------------------------------
2-Table population :
Nombre de valeurs manquantes = 0
Nombre de cellulles totales = 472
Pourcentage de valeurs manquantes =  0.0 %




Pourcentage de valeurs manquantes par variable/colonne =
 Pays          0
Population    0
dtype: int64


---------------------------------------
3-Table PIB Indice :
Nombre de valeurs manquantes = 12
Nombre de cellulles totales = 594
Pourcentage de valeurs manquantes =  2.02 %




Pourcentage de valeurs manquantes par variable/colonne =
 Produit
Pays                    0
Indice de stabilité     1
PIB/Hab                11
dtype: int64

##<font color='purple'>Affichage des valeurs manquantes et affectation de valeurs</font>

In [145]:
#affiche le df avec au moins une valeur manquante par ligne
df_dispovol_null = df_dispovol[df_dispovol.isnull().any(axis=1)]
df_dispovol_null

Élément,Pays,Disponibilité alimentaire,Disponibilité intérieure,Exportations,Importations,Production,Variation de stock
0,Afghanistan,1.53,57.0,NaN,29.0,28.0,0.0
13,Bahamas,43.17,26.0,NaN,24.0,6.0,4.0
14,Bangladesh,1.50,250.0,NaN,0.0,249.0,0.0
23,Burkina Faso,2.27,46.0,NaN,0.0,46.0,0.0
26,Cabo Verde,17.62,10.0,NaN,12.0,1.0,4.0
27,Cambodge,2.34,38.0,NaN,10.0,28.0,0.0
40,Cuba,23.72,342.0,NaN,312.0,29.0,-1.0
43,Djibouti,2.68,3.0,NaN,3.0,NaN,0.0
54,Gambie,3.53,8.0,NaN,16.0,2.0,10.0
56,Grenade,45.70,8.0,NaN,7.0,1.0,0.0
59,Guinée,4.08,50.0,NaN,37.0,13.0,0.0
60,Guinée-Bissau,2.16,4.0,NaN,4.0,3.0,3.0
63,Haïti,8.91,98.0,NaN,89.0,9.0,0.0
80,Kiribati,17.98,2.0,NaN,1.0,1.0,0.0
89,Madagascar,2.87,82.0,NaN,0.0,81.0,0.0
91,Malawi,5.17,98.0,NaN,0.0,130.0,33.0
92,Maldives,13.50,12.0,NaN,12.0,NaN,0.0
93,Mali,2.83,52.0,NaN,1.0,48.0,-4.0
97,Mauritanie,5.14,22.0,NaN,24.0,5.0,6.0
99,Mongolie,2.77,9.0,NaN,10.0,0.0,1.0
101,Mozambique,3.59,116.0,NaN,24.0,92.0,-1.0
108,Nouvelle-Calédonie,38.71,11.0,NaN,9.0,1.0,-1.0
110,Népal,1.99,58.0,NaN,0.0,58.0,0.0
113,Ouzbékistan,1.96,NaN,NaN,NaN,NaN,NaN
122,Pérou,13.47,1523.0,1.0,60.0,1465.0,NaN
126,République centrafricaine,2.29,11.0,NaN,4.0,7.0,0.0
130,République démocratique populaire lao,10.91,NaN,NaN,NaN,NaN,NaN
132,République-Unie de Tanzanie,1.88,108.0,NaN,2.0,105.0,0.0
134,Saint-Vincent-et-les Grenadines,72.31,8.0,NaN,9.0,0.0,1.0
135,Sainte-Lucie,56.69,11.0,NaN,10.0,1.0,0.0
137,Sao Tomé-et-Principe,9.47,2.0,NaN,2.0,1.0,1.0
142,Soudan,1.60,69.0,NaN,2.0,67.0,0.0
148,Tadjikistan,4.45,40.0,NaN,38.0,2.0,0.0
152,Timor-Leste,4.24,5.0,NaN,11.0,1.0,7.0
156,Turkménistan,4.52,27.0,NaN,9.0,20.0,2.0
160,Vanuatu,11.66,3.0,NaN,4.0,1.0,1.0
165,Zimbabwe,4.68,76.0,NaN,6.0,69.0,0.0
170,Éthiopie,0.13,14.0,NaN,1.0,14.0,0.0

In [146]:
df_dispovol_null['Exportations']=df_dispovol_null['Production']+df_dispovol_null['Importations']+df_dispovol_null['Variation de stock']-df_dispovol_null['Disponibilité intérieure']
df_dispovol_null

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

Élément,Pays,Disponibilité alimentaire,Disponibilité intérieure,Exportations,Importations,Production,Variation de stock
0,Afghanistan,1.53,57.0,0.0,29.0,28.0,0.0
13,Bahamas,43.17,26.0,8.0,24.0,6.0,4.0
14,Bangladesh,1.50,250.0,-1.0,0.0,249.0,0.0
23,Burkina Faso,2.27,46.0,0.0,0.0,46.0,0.0
26,Cabo Verde,17.62,10.0,7.0,12.0,1.0,4.0
27,Cambodge,2.34,38.0,0.0,10.0,28.0,0.0
40,Cuba,23.72,342.0,-2.0,312.0,29.0,-1.0
43,Djibouti,2.68,3.0,NaN,3.0,NaN,0.0
54,Gambie,3.53,8.0,20.0,16.0,2.0,10.0
56,Grenade,45.70,8.0,0.0,7.0,1.0,0.0
59,Guinée,4.08,50.0,0.0,37.0,13.0,0.0
60,Guinée-Bissau,2.16,4.0,6.0,4.0,3.0,3.0
63,Haïti,8.91,98.0,0.0,89.0,9.0,0.0
80,Kiribati,17.98,2.0,0.0,1.0,1.0,0.0
89,Madagascar,2.87,82.0,-1.0,0.0,81.0,0.0
91,Malawi,5.17,98.0,65.0,0.0,130.0,33.0
92,Maldives,13.50,12.0,NaN,12.0,NaN,0.0
93,Mali,2.83,52.0,-7.0,1.0,48.0,-4.0
97,Mauritanie,5.14,22.0,13.0,24.0,5.0,6.0
99,Mongolie,2.77,9.0,2.0,10.0,0.0,1.0
101,Mozambique,3.59,116.0,-1.0,24.0,92.0,-1.0
108,Nouvelle-Calédonie,38.71,11.0,-2.0,9.0,1.0,-1.0
110,Népal,1.99,58.0,0.0,0.0,58.0,0.0
113,Ouzbékistan,1.96,NaN,NaN,NaN,NaN,NaN
122,Pérou,13.47,1523.0,NaN,60.0,1465.0,NaN
126,République centrafricaine,2.29,11.0,0.0,4.0,7.0,0.0
130,République démocratique populaire lao,10.91,NaN,NaN,NaN,NaN,NaN
132,République-Unie de Tanzanie,1.88,108.0,-1.0,2.0,105.0,0.0
134,Saint-Vincent-et-les Grenadines,72.31,8.0,2.0,9.0,0.0,1.0
135,Sainte-Lucie,56.69,11.0,0.0,10.0,1.0,0.0
137,Sao Tomé-et-Principe,9.47,2.0,2.0,2.0,1.0,1.0
142,Soudan,1.60,69.0,0.0,2.0,67.0,0.0
148,Tadjikistan,4.45,40.0,0.0,38.0,2.0,0.0
152,Timor-Leste,4.24,5.0,14.0,11.0,1.0,7.0
156,Turkménistan,4.52,27.0,4.0,9.0,20.0,2.0
160,Vanuatu,11.66,3.0,3.0,4.0,1.0,1.0
165,Zimbabwe,4.68,76.0,-1.0,6.0,69.0,0.0
170,Éthiopie,0.13,14.0,1.0,1.0,14.0,0.0

In [147]:
df_dispovol_null[df_dispovol_null.isnull().any(axis=1)]

Élément,Pays,Disponibilité alimentaire,Disponibilité intérieure,Exportations,Importations,Production,Variation de stock
43,Djibouti,2.68,3.0,NaN,3.0,NaN,0.0
92,Maldives,13.50,12.0,NaN,12.0,NaN,0.0
113,Ouzbékistan,1.96,NaN,NaN,NaN,NaN,NaN
122,Pérou,13.47,1523.0,NaN,60.0,1465.0,NaN
130,République démocratique populaire lao,10.91,NaN,NaN,NaN,NaN,NaN

In [148]:
df_dispovol_null[df_dispovol_null.isnull().any(axis=1)]

Élément,Pays,Disponibilité alimentaire,Disponibilité intérieure,Exportations,Importations,Production,Variation de stock
43,Djibouti,2.68,3.0,NaN,3.0,NaN,0.0
92,Maldives,13.50,12.0,NaN,12.0,NaN,0.0
113,Ouzbékistan,1.96,NaN,NaN,NaN,NaN,NaN
122,Pérou,13.47,1523.0,NaN,60.0,1465.0,NaN
130,République démocratique populaire lao,10.91,NaN,NaN,NaN,NaN,NaN

In [149]:
#Affectation des valeurs manquantes par les valeurs trouvées dans mes recherches
df_dispovol_null.loc[df_dispovol_null['Pays'] == 'Pérou','Exportations'] = 1
df_dispovol_null.loc[df_dispovol_null['Pays'] == 'Pérou','Importations'] = 60
df_dispovol_null.loc[df_dispovol_null['Pays'] == 'Pérou','Variation de stock'] = 0
df_dispovol_null.loc[df_dispovol_null['Pays'] == 'Ouzbékistan','Importations'] = 8
df_dispovol_null.loc[df_dispovol_null['Pays'] == 'Ouzbékistan','Disponibilité intérieure'] = 67
df_dispovol_null.loc[df_dispovol_null['Pays'] == 'Ouzbékistan','Production'] = 58
df_dispovol_null.loc[df_dispovol_null['Pays'] == 'Ouzbékistan','Variation de stock'] = -2
df_dispovol_null.loc[df_dispovol_null['Pays'] == 'Ouzbékistan','Exportations'] = 0
df_dispovol_null.loc[df_dispovol_null['Pays'] == 'Djibouti','Importations'] = 3
df_dispovol_null.loc[df_dispovol_null['Pays'] == 'Maldives','Importations'] = 12
df_dispovol_null.loc[df_dispovol_null['Pays'] == 'République démocratique populaire lao','Importations'] = 5
df_dispovol_null.loc[df_dispovol_null['Pays'] == 'République démocratique populaire lao','Production'] = 33
df_dispovol_null.loc[df_dispovol_null['Pays'] == 'République démocratique populaire lao','Variation de stock'] = 0
df_dispovol_null.loc[df_dispovol_null['Pays'] == 'République démocratique populaire lao','Disponibilité intérieure'] = 38
df_dispovol_null.loc[df_dispovol_null['Pays'] == 'République démocratique populaire lao','Exportations'] = 0

/usr/local/lib/python3.7/dist-packages/pandas/core/indexing.py:1817: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)

In [150]:
df_dispovol_null[df_dispovol_null.isnull().any(axis=1)]

Élément,Pays,Disponibilité alimentaire,Disponibilité intérieure,Exportations,Importations,Production,Variation de stock
43,Djibouti,2.68,3.0,NaN,3.0,NaN,0.0
92,Maldives,13.50,12.0,NaN,12.0,NaN,0.0

In [151]:
#Il reste toujours 4 valeurs manquantes pour l'exportation et la production des Maldives et Djibouti 
#que je vais remplacer par 0
df_dispovol_null=df_dispovol_null.fillna(0)
df_dispovol_null.head()

Élément,Pays,Disponibilité alimentaire,Disponibilité intérieure,Exportations,Importations,Production,Variation de stock
0,Afghanistan,1.53,57.0,0.0,29.0,28.0,0.0
13,Bahamas,43.17,26.0,8.0,24.0,6.0,4.0
14,Bangladesh,1.50,250.0,-1.0,0.0,249.0,0.0
23,Burkina Faso,2.27,46.0,0.0,0.0,46.0,0.0
26,Cabo Verde,17.62,10.0,7.0,12.0,1.0,4.0

In [152]:
df_dispovol_null[df_dispovol_null.isnull().any(axis=1)]

Empty DataFrame
Columns: [Pays, Disponibilité alimentaire, Disponibilité intérieure, Exportations, Importations, Production, Variation de stock]
Index: []

In [153]:
df_dispovol.head()

Élément,Pays,Disponibilité alimentaire,Disponibilité intérieure,Exportations,Importations,Production,Variation de stock
0,Afghanistan,1.53,57.0,NaN,29.0,28.0,0.0
1,Afrique du Sud,35.69,2118.0,63.0,514.0,1667.0,0.0
2,Albanie,16.36,47.0,0.0,38.0,13.0,4.0
3,Algérie,6.38,277.0,0.0,2.0,275.0,0.0
4,Allemagne,19.47,1739.0,646.0,842.0,1514.0,-29.0

In [154]:
df_dispovol=df_dispovol.dropna()

In [155]:
df_dispovol=df_dispovol.append(df_dispovol_null)

In [156]:
df_dispovol[df_dispovol.isnull().any(axis=1)]

Empty DataFrame
Columns: [Pays, Disponibilité alimentaire, Disponibilité intérieure, Exportations, Importations, Production, Variation de stock]
Index: []

In [157]:
df_dispovol.sort_values(by='Pays', ascending=True).head()

Élément,Pays,Disponibilité alimentaire,Disponibilité intérieure,Exportations,Importations,Production,Variation de stock
0,Afghanistan,1.53,57.0,0.0,29.0,28.0,0.0
1,Afrique du Sud,35.69,2118.0,63.0,514.0,1667.0,0.0
2,Albanie,16.36,47.0,0.0,38.0,13.0,4.0
3,Algérie,6.38,277.0,0.0,2.0,275.0,0.0
4,Allemagne,19.47,1739.0,646.0,842.0,1514.0,-29.0

In [158]:
df_pop2017[df_pop2017.isnull().any(axis=1)]

Empty DataFrame
Columns: [Pays, Population]
Index: []

Pas de valeur manquante dans la table population

In [159]:
df_pibind[df_pibind['PIB/Hab'].isna()]

Produit,Pays,PIB/Hab,Indice de stabilité
5,Andorre,NaN,1.42
40,"Chine, Taiwan Province de",NaN,0.86
47,Cuba,NaN,0.65
64,Groenland,NaN,1.92
141,République arabe syrienne,NaN,-2.62
148,République populaire démocratique de Corée,NaN,-0.50
154,Samoa américaines,NaN,1.22
164,Soudan du Sud,NaN,-2.45
185,Venezuela (République bolivarienne du),NaN,-1.25
187,Yémen,NaN,-2.94
193,Érythrée,NaN,-0.73

In [160]:
#Affectation des valeurs manquantes par les valeurs trouvées dans mes recherches
df_pibind.loc[df_pibind['Pays'] == 'Andorre','PIB/Hab'] = 56352.2
df_pibind.loc[df_pibind['Pays'] == 'Chine, Taiwan Province de','PIB/Hab'] = 48500.8
df_pibind.loc[df_pibind['Pays'] == 'Samoa américaines','PIB/Hab'] = 5668
df_pibind.loc[df_pibind['Pays'] == 'Soudan du Sud','PIB/Hab'] = 888.8
df_pibind.loc[df_pibind['Pays'] == 'Yémen','PIB/Hab'] = 2150
df_pibind.loc[df_pibind['Pays'] == 'Érythrée','PIB/Hab'] = 1537.5

In [161]:
#Il reste toujours des valeurs manquantes pour 6 pays pour les 2 variables PIB par habitant et l'indice de Stabilité politique 
#que je vais remplacer par 0
df_pibind=df_pibind.fillna(0)
df_pibind.head()

Produit            Pays  PIB/Hab  Indice de stabilité
0           Afghanistan   2058.4                -2.80
1        Afrique du Sud  12701.3                -0.28
2               Albanie  12771.0                 0.38
3               Algérie  11737.4                -0.92
4             Allemagne  52952.9                 0.59

In [162]:
df_pibind[df_pibind.isnull().any(axis=1)]

Empty DataFrame
Columns: [Pays, PIB/Hab, Indice de stabilité]
Index: []

# <a name="C6"><font color='LightSeaGreen'>Unicité de la clé primaire</font></a>

In [163]:
#Creation d'une fonction qui teste l'unicité d'une colonne
def cle_primaire(df,col):
    if len(df)==len(df[col].unique()):
        print('La variable', col, 'est une clé primaire')
    else: 
        print('La variable', col, 'n\'est pas une clé primaire')

In [164]:
cle_primaire(df_dispovol,'Pays')
cle_primaire(df_pop2017,'Pays')
cle_primaire(df_pibind,'Pays')

La variable Pays est une clé primaire
La variable Pays est une clé primaire
La variable Pays est une clé primaire

# <a name="C7"><font color='LightSeaGreen'>Analyse des doublons</font></a>

In [165]:
#Fonction qui detecte les doublons
def detect_doublons(df):
    doub=df[df[df.columns].duplicated(subset=None, keep='first')]
    print('------------------') 
    print('La table contient', len(doub), 'doublons.')
    print(doub.shape)
    print('\n') 
    print(doub)
    print('\n')

In [166]:
print('------------------') 
print('Table disponibilité alimentaire')
detect_doublons(df_dispovol)
print('------------------') 
print('Table population')
detect_doublons(df_pop2017)
print('------------------') 
print('Table pib indice')
detect_doublons(df_pibind)

------------------
Table disponibilité alimentaire
------------------
La table contient 0 doublons.
(0, 7)


Empty DataFrame
Columns: [Pays, Disponibilité alimentaire, Disponibilité intérieure, Exportations, Importations, Production, Variation de stock]
Index: []


------------------
Table population
------------------
La table contient 0 doublons.
(0, 2)


Empty DataFrame
Columns: [Pays, Population]
Index: []


------------------
Table pib indice
------------------
La table contient 0 doublons.
(0, 3)


Empty DataFrame
Columns: [Pays, PIB/Hab, Indice de stabilité]
Index: []

# <a name="C8"><font color='LightSeaGreen'>Jointure des tables</font></a>

In [167]:
#Jointure externe complète entre disponibilité alimentaire et population
df_dispop=pd.merge(df_dispovol, df_pop2017, left_on='Pays', right_on='Pays', how='outer', indicator=True)
df_dispop.head()

,Pays,Disponibilité alimentaire,Disponibilité intérieure,Exportations,Importations,Production,Variation de stock,Population,_merge
0,Afrique du Sud,35.69,2118.0,63.0,514.0,1667.0,0.0,57009756.0,both
1,Albanie,16.36,47.0,0.0,38.0,13.0,4.0,2884169.0,both
2,Algérie,6.38,277.0,0.0,2.0,275.0,0.0,41389189.0,both
3,Allemagne,19.47,1739.0,646.0,842.0,1514.0,-29.0,82658409.0,both
4,Angola,10.56,319.0,0.0,277.0,42.0,0.0,29816766.0,both

In [168]:
df_dispop[df_dispop.isnull().any(axis=1)]

,Pays,Disponibilité alimentaire,Disponibilité intérieure,Exportations,Importations,Production,Variation de stock,Population,_merge
172,Andorre,NaN,NaN,NaN,NaN,NaN,NaN,77001.0,right_only
173,Anguilla,NaN,NaN,NaN,NaN,NaN,NaN,14584.0,right_only
174,Antilles néerlandaises (ex),NaN,NaN,NaN,NaN,NaN,NaN,275186.0,right_only
175,Aruba,NaN,NaN,NaN,NaN,NaN,NaN,105366.0,right_only
176,Bahreïn,NaN,NaN,NaN,NaN,NaN,NaN,1494076.0,right_only
...,...,...,...,...,...,...,...,...,...
231,Somalie,NaN,NaN,NaN,NaN,NaN,NaN,14589179.0,right_only
232,Soudan du Sud,NaN,NaN,NaN,NaN,NaN,NaN,10910763.0,right_only
233,Tokélaou,NaN,NaN,NaN,NaN,NaN,NaN,1300.0,right_only
234,Tonga,NaN,NaN,NaN,NaN,NaN,NaN,101998.0,right_only
235,Tuvalu,NaN,NaN,NaN,NaN,NaN,NaN,11370.0,right_only

In [169]:
#Suppression des pays qui n'ont aucune information dans la table disponibilité alimentaire
df_dispop=df_dispop.drop(df_dispop[df_dispop['_merge']=='right_only'].index)
df_dispop.head()

,Pays,Disponibilité alimentaire,Disponibilité intérieure,Exportations,Importations,Production,Variation de stock,Population,_merge
0,Afrique du Sud,35.69,2118.0,63.0,514.0,1667.0,0.0,57009756.0,both
1,Albanie,16.36,47.0,0.0,38.0,13.0,4.0,2884169.0,both
2,Algérie,6.38,277.0,0.0,2.0,275.0,0.0,41389189.0,both
3,Allemagne,19.47,1739.0,646.0,842.0,1514.0,-29.0,82658409.0,both
4,Angola,10.56,319.0,0.0,277.0,42.0,0.0,29816766.0,both

In [170]:
df_dispop[df_dispop.isnull().any(axis=1)]

Empty DataFrame
Columns: [Pays, Disponibilité alimentaire, Disponibilité intérieure, Exportations, Importations, Production, Variation de stock, Population, _merge]
Index: []

In [171]:
#Jointure externe complète entre dispop et la table du PIB et de la stabilité politique
df_final=pd.merge(df_dispop, df_pibind, left_on='Pays', right_on='Pays', how='outer')
df_final

,Pays,Disponibilité alimentaire,Disponibilité intérieure,Exportations,Importations,Production,Variation de stock,Population,_merge,PIB/Hab,Indice de stabilité
0,Afrique du Sud,35.69,2118.0,63.0,514.0,1667.0,0.0,57009756.0,both,12701.3,-0.28
1,Albanie,16.36,47.0,0.0,38.0,13.0,4.0,2884169.0,both,12771.0,0.38
2,Algérie,6.38,277.0,0.0,2.0,275.0,0.0,41389189.0,both,11737.4,-0.92
3,Allemagne,19.47,1739.0,646.0,842.0,1514.0,-29.0,82658409.0,both,52952.9,0.59
4,Angola,10.56,319.0,0.0,277.0,42.0,0.0,29816766.0,both,7310.9,-0.33
...,...,...,...,...,...,...,...,...,...,...,...
196,Soudan du Sud,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,888.8,-2.45
197,Tonga,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6467.1,0.79
198,Tuvalu,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3896.7,1.24
199,Érythrée,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1537.5,-0.73
200,Îles Marshall,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3706.3,0.87

In [172]:
df_final[df_final.isnull().any(axis=1)].head()

,Pays,Disponibilité alimentaire,Disponibilité intérieure,Exportations,Importations,Production,Variation de stock,Population,_merge,PIB/Hab,Indice de stabilité
28,"Chine, continentale",12.33,18161.0,576.0,452.0,18236.0,-50.0,1.421022e+09,both,NaN,NaN
96,Polynésie française,47.40,15.0,0.0,15.0,1.0,0.0,2.761020e+05,both,NaN,NaN
155,Nouvelle-Calédonie,38.71,11.0,-2.0,9.0,1.0,-1.0,2.771500e+05,both,NaN,NaN
172,Andorre,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,56352.2,1.42
173,Bahreïn,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,47709.8,-0.96

In [173]:
#Suppression des pays qui n'ont aucune information dans la table disponibilité alimentaire
df_final=df_final.dropna()
df_final

,Pays,Disponibilité alimentaire,Disponibilité intérieure,Exportations,Importations,Production,Variation de stock,Population,_merge,PIB/Hab,Indice de stabilité
0,Afrique du Sud,35.69,2118.0,63.0,514.0,1667.0,0.0,57009756.0,both,12701.3,-0.28
1,Albanie,16.36,47.0,0.0,38.0,13.0,4.0,2884169.0,both,12771.0,0.38
2,Algérie,6.38,277.0,0.0,2.0,275.0,0.0,41389189.0,both,11737.4,-0.92
3,Allemagne,19.47,1739.0,646.0,842.0,1514.0,-29.0,82658409.0,both,52952.9,0.59
4,Angola,10.56,319.0,0.0,277.0,42.0,0.0,29816766.0,both,7310.9,-0.33
...,...,...,...,...,...,...,...,...,...,...,...
167,Timor-Leste,4.24,5.0,14.0,11.0,1.0,7.0,1243258.0,both,3145.5,0.07
168,Turkménistan,4.52,27.0,4.0,9.0,20.0,2.0,5757667.0,both,14205.0,-0.13
169,Vanuatu,11.66,3.0,3.0,4.0,1.0,1.0,285510.0,both,3081.8,0.70
170,Zimbabwe,4.68,76.0,-1.0,6.0,69.0,0.0,14236595.0,both,3274.6,-0.71
171,Éthiopie,0.13,14.0,1.0,1.0,14.0,0.0,106399924.0,both,2021.6,-1.68

In [174]:
#suppression de la colonne _merge
df_final=df_final.drop(['_merge'], axis = 1)

In [175]:
df_final.head()

,Pays,Disponibilité alimentaire,Disponibilité intérieure,Exportations,Importations,Production,Variation de stock,Population,PIB/Hab,Indice de stabilité
0,Afrique du Sud,35.69,2118.0,63.0,514.0,1667.0,0.0,57009756.0,12701.3,-0.28
1,Albanie,16.36,47.0,0.0,38.0,13.0,4.0,2884169.0,12771.0,0.38
2,Algérie,6.38,277.0,0.0,2.0,275.0,0.0,41389189.0,11737.4,-0.92
3,Allemagne,19.47,1739.0,646.0,842.0,1514.0,-29.0,82658409.0,52952.9,0.59
4,Angola,10.56,319.0,0.0,277.0,42.0,0.0,29816766.0,7310.9,-0.33

In [176]:
#récupère les lignes où l'exportation est négative
df_final[df_final['Exportations']<0]

,Pays,Disponibilité alimentaire,Disponibilité intérieure,Exportations,Importations,Production,Variation de stock,Population,PIB/Hab,Indice de stabilité
136,Bangladesh,1.50,250.0,-1.0,0.0,249.0,0.0,159685424.0,4160.7,-1.26
140,Cuba,23.72,342.0,-2.0,312.0,29.0,-1.0,11339254.0,0.0,0.65
148,Madagascar,2.87,82.0,-1.0,0.0,81.0,0.0,25570512.0,1584.4,-0.30
151,Mali,2.83,52.0,-7.0,1.0,48.0,-4.0,18512430.0,2246.8,-1.91
154,Mozambique,3.59,116.0,-1.0,24.0,92.0,-1.0,28649018.0,1283.7,-0.93
161,République-Unie de Tanzanie,1.88,108.0,-1.0,2.0,105.0,0.0,54660339.0,2530.6,-0.56
170,Zimbabwe,4.68,76.0,-1.0,6.0,69.0,0.0,14236595.0,3274.6,-0.71

In [177]:
#remplace les valeurs négatives de l'exportation par 0
df_final['Exportations']=df_final['Exportations'].apply(lambda x: 0 if x < 0 else x)

In [178]:
df_final[df_final['Exportations']<0]

Empty DataFrame
Columns: [Pays, Disponibilité alimentaire, Disponibilité intérieure, Exportations, Importations, Production, Variation de stock, Population, PIB/Hab, Indice de stabilité]
Index: []

# <a name="C9"><font color='LightSeaGreen'>Indicateurs choisis</font></a>

1.   Disponibilité d'aliments dans chaque pays en kg/personne/an 
2.   Importations (Milliers de tonnes)
3.   Production (Milliers de tonnes)
4.   Population : si le nombre d'habitants est grand, la probabilité que les habitants consomment du poulet est plus grande, alors il serait plus intéressant d'y envoyer notre poulet 
5.   PIB/Habitant ($) : si le PIB d'un pays est fort, cela indique un niveau economique élevé du pays en moyenne, donc la consommation de poulet pourrait y être plus élevée 
6.   Indice de stabilité politique 
(-2.5 : faible stabilité politique (min) / 2.5 : forte stabilité politique (max)) : une instabilité politique dans un pays empêcherait l'importation de poulet

In [179]:
df_final=df_final[['Pays', 'Disponibilité alimentaire', 'Exportations', 'Importations', 'Production', 'Population', 'PIB/Hab', 'Indice de stabilité']]
df_final.head()

,Pays,Disponibilité alimentaire,Exportations,Importations,Production,Population,PIB/Hab,Indice de stabilité
0,Afrique du Sud,35.69,63.0,514.0,1667.0,57009756.0,12701.3,-0.28
1,Albanie,16.36,0.0,38.0,13.0,2884169.0,12771.0,0.38
2,Algérie,6.38,0.0,2.0,275.0,41389189.0,11737.4,-0.92
3,Allemagne,19.47,646.0,842.0,1514.0,82658409.0,52952.9,0.59
4,Angola,10.56,0.0,277.0,42.0,29816766.0,7310.9,-0.33

Ajout d'autres indicateurs

In [182]:
df_final['tx_imp_exp']= df_final['Importations'] * 100 / df_final['Exportations']
df_final

,Pays,Disponibilité alimentaire,Exportations,Importations,Production,Population,PIB/Hab,Indice de stabilité,tx_imp_exp
0,Afrique du Sud,35.69,63.0,514.0,1667.0,57009756.0,12701.3,-0.28,815.873016
1,Albanie,16.36,0.0,38.0,13.0,2884169.0,12771.0,0.38,inf
2,Algérie,6.38,0.0,2.0,275.0,41389189.0,11737.4,-0.92,inf
3,Allemagne,19.47,646.0,842.0,1514.0,82658409.0,52952.9,0.59,130.340557
4,Angola,10.56,0.0,277.0,42.0,29816766.0,7310.9,-0.33,inf
...,...,...,...,...,...,...,...,...,...
167,Timor-Leste,4.24,14.0,11.0,1.0,1243258.0,3145.5,0.07,78.571429
168,Turkménistan,4.52,4.0,9.0,20.0,5757667.0,14205.0,-0.13,225.000000
169,Vanuatu,11.66,3.0,4.0,1.0,285510.0,3081.8,0.70,133.333333
170,Zimbabwe,4.68,0.0,6.0,69.0,14236595.0,3274.6,-0.71,inf
171,Éthiopie,0.13,1.0,1.0,14.0,106399924.0,2021.6,-1.68,100.000000

# **<font color='indianred'>Partie 3 : Analyse univariée des indicateurs</font>**

# <a name="C10"><font color='LightSeaGreen'>Disponibilité alimentaire</font></a>

In [ ]:
#Représentation la variable Disponibilité alimentaire sous forme de boxplot
plt.figure(figsize=(12, 3))
sns.set(style="darkgrid")
sns.boxplot(x=df_final["Disponibilité alimentaire"], color="b")
plt.title('Distribution de la variable Disponibilité alimentaire')
plt.savefig("distribution_dispo_al_boxplot.png")
plt.show

In [ ]:
#détecte les outliers et les filtre pour avoir un nouveau dataframe sans outliers
#1er quartile
q1 = df_final['Disponibilité alimentaire'].quantile(0.25)
#3eme quartile
q3 = df_final['Disponibilité alimentaire'].quantile(0.75)
#écart interquatile
iqr = q3 - q1
print('Ecart interquatile =', round(iqr,2))
seuil_min = q1 -(1.5 * iqr) 
seuil_max = q3 +(1.5 * iqr)
print('Seuil minimum =', round(seuil_min,2))
print('Seuil maximum =', round(seuil_max,2))
#affiche le dataframe final sans outliers
df_out = df_final[(df_final['Disponibilité alimentaire'] > seuil_min) & (df_final['Disponibilité alimentaire'] < seuil_max)]
#trie par ordre croissant les donnees du df web sans outliers via la colonne 'disponibilité alimentaire' 
#df_out.sort_values('Disponibilité alimentaire', ascending=True).head()
#dataframe des outliers
dfo = df_final[(df_final['Disponibilité alimentaire'] < seuil_min) | (df_final['Disponibilité alimentaire'] > seuil_max)]
#liste des outliers
liste_out=(dfo['Disponibilité alimentaire'].tolist())
print('Nombre doutliers:', len(liste_out))
print('Liste des outliers :', liste_out)
print('\n')
#affichage des outliers 
dfo[['Pays','Disponibilité alimentaire']].sort_values(by='Disponibilité alimentaire', ascending=True)

In [ ]:
#distribution de la variable disponibilité alimentaire sous forme de courbe
plt.figure(figsize=(15, 5))
sns.set(style="darkgrid")
sns.kdeplot(df_final['Disponibilité alimentaire'], shade=True, bw_method=0.5, color="blue")
plt.title('Distribution de la variable Disponibilité alimentaire')
plt.xlabel('Disponibilité alimentaire')
plt.ylabel('Fréquence d\'apparition')
plt.savefig("distribution_dispo_al.png")
plt.show()

# <a name="C11"><font color='LightSeaGreen'>Importations</font></a>

In [ ]:
#utilisation de la librairie Seaborn pour representer la variable disponibilité alimentaire sous forme de boxplot
plt.figure(figsize=(20, 3))
sns.set(style="darkgrid")
sns.boxplot(x=df_final["Importations"], color="r")
plt.title('Importations')
plt.savefig("distribution_import_boxplot.png")
plt.show

In [ ]:
#liste vide
outliers=[]

#fonction qui détecte, compte et liste les outliers
def liste_outliers(df):
    #seuil des valeurs aberrantes : +/- 3  
    threshold=3
    #moyenne
    mean=np.mean(df)
    #écart-type
    std=np.std(df)
    for i in df:
        zscore=(i-mean)/std
        if np.abs(zscore)>threshold:
            outliers.append(i)
    return outliers

#appel de la fonction 
l1=liste_outliers(df_final['Importations'])
print('Nombre d\'outliers :', len(l1))
print('\n') 
print('Liste des outliers : ', l1)

In [ ]:
#détecte les outliers et les filtre pour avoir un nouveau dataframe sans outliers
#1er quartile
q1 = df_final['Importations'].quantile(0.25)
#3eme quartile
q3 = df_final['Importations'].quantile(0.75)
#écart interquatile
iqr = q3 - q1
print('Ecart interquatile =', round(iqr,2))
seuil_min = q1 -(1.5 * iqr) 
seuil_max = q3 +(1.5 * iqr)
print('Seuil minimum =', round(seuil_min,2))
print('Seuil maximum =', round(seuil_max,2))
#affiche le dataframe final sans outliers
df_out = df_final[(df_final['Importations'] > seuil_min) & (df_final['Importations'] < seuil_max)]
#trie par ordre croissant les donnees du df sans outliers via la colonne 'Importations' 
#df_out.sort_values('Disponibilité alimentaire', ascending=True).head()

#dataframe des outliers
dfo = df_final[(df_final['Importations'] < seuil_min) | (df_final['Importations'] > seuil_max)]
#liste des outliers
liste_out=(dfo['Importations'].tolist())
print('Nombre doutliers:', len(liste_out))
print('Liste des outliers :', liste_out)
print('\n')
#affichage des outliers 
dfo[['Pays','Importations']].sort_values(by='Importations', ascending=False)

In [ ]:
#distribution de la variable importation sous forme de courbe
plt.figure(figsize=(15, 5))
sns.set(style="darkgrid")
sns.kdeplot(df_final['Importations'], shade=True, bw_method=0.5, color="red")
plt.title('Distribution de la variable Importations')
plt.xlabel('Importations')
plt.ylabel('Fréquence d\'apparition')
plt.savefig("distribution_import.png")
plt.show()

In [ ]:
#Courbe de Lorenz sur l'importation par pays
#Sélection du sous-échantillon de travail que l'on appelle import_pays
plt.figure(figsize=(12, 5))
import_pays = df_final['Importations'].values

#On place les observations dans une variable
#Tri des individus dans l'ordre croissant des valeurs de la variable, 
#Calcul de la somme cumulée et normalisation en divisant par la somme des observations
lorenz_import_pays = np.cumsum(np.sort(import_pays)) / import_pays.sum()

plt.plot(np.linspace(0,1,len(lorenz_import_pays)), lorenz_import_pays, drawstyle='steps-post', color='brown', label='Lorenz')
plt.fill_between(np.linspace(0,1,len(lorenz_import_pays)) ,lorenz_import_pays , color='#777ecd')
plt.plot([0, 1], [0, 1], 'g-', lw=2, label='Distribution égalitaire')
plt.vlines(x=.76, ymin=0, ymax=.5, color='red', linestyle='--', linewidth=1, label='Medial')
plt.hlines(xmin=.76, xmax=0, y=.5, color='red', linestyle='--', linewidth=1)

plt.title('Courbe de Lorenz de la quantité d\'importation par pays')
plt.xlabel("Distribution des pays (%)")
plt.ylabel("Cumul de la quantité d'importation (%)")
plt.legend(loc="best")

plt.savefig("lorenz_import_pays.png")
plt.show()

#Mesure de l'aire entre la 1ere bissectrice et la courbe de Lorenz 
#Calcul de l'indice de Gini
aire_import_pays=(lorenz_import_pays.sum()-(lorenz_import_pays[-1]/2)-(lorenz_import_pays[0]/2))/(len(lorenz_import_pays))
S_import_pays=0.5-aire_import_pays
gini_import_pays=2*S_import_pays
print('Coefficient de Gini=', round(gini_import_pays,2))

20% des pays font 80% de l'importation totale (Loi de Pareto 80/20)

# <a name="C12"><font color='LightSeaGreen'>Production</font></a>

In [ ]:
#utilisation de la librairie Seaborn pour representer la variable production sous forme de boxplot
plt.figure(figsize=(20, 3))
sns.set(style="darkgrid")
sns.boxplot(x=df_final["Production"], color="g")
plt.title('Production')
plt.savefig("distribution_prod_boxplot.png")
plt.show

In [ ]:
#liste vide
outliers=[]

#appel de la fonction 
l1=liste_outliers(df_final['Production'])
print('Nombre d\'outliers :', len(l1))
print('\n') 
print('Liste des outliers : ', l1)
#affichage des outliers

In [ ]:
df_final[['Pays','Production']].sort_values(by='Production', ascending=False).head(2)

Les deux plus grand producteurs de poulet sont les US et le Brésil.

In [ ]:
#distribution de la variable Production sous forme de courbe
plt.figure(figsize=(15, 5))
sns.set(style="darkgrid")
sns.kdeplot(df_final['Production'], shade=True, bw_method=0.5, color="green")
plt.title('Distribution de la variable Production')
plt.xlabel('Production')
plt.ylabel('Fréquence d\'apparition')
plt.savefig("distribution_prod.png")
plt.show()

# <a name="C12"><font color='LightSeaGreen'>Population</font></a>

In [ ]:
#utilisation de la librairie Seaborn pour representer la variable population sous forme de boxplot
plt.figure(figsize=(20, 3))
sns.set(style="darkgrid")
sns.boxplot(x=df_final["Population"], color="m")
plt.title('Population')
plt.savefig("distribution_pop_boxplot.png")
plt.show

In [ ]:
df_final[['Pays','Population']].sort_values(by='Population', ascending=False).head(20)

# <a name="C14"><font color='LightSeaGreen'>PIB/Habitant</font></a>

In [ ]:
#utilisation de la librairie Seaborn pour representer la variable population sous forme de boxplot
plt.figure(figsize=(20, 3))
sns.set(style="darkgrid")
sns.boxplot(x=df_final["PIB/Hab"], color="lightblue")
plt.title('PIB/Habitant')
plt.savefig("distribution_pop_boxplot.png")
plt.show

In [ ]:
df_final[['Pays','PIB/Hab']].sort_values(by='PIB/Hab', ascending=False).head()

# <a name="C15"><font color='LightSeaGreen'>Indice de stabilité politique</font></a>

In [ ]:
#distribution de la variable Production sous forme de courbe
plt.figure(figsize=(15, 5))
sns.set(style="darkgrid")
sns.kdeplot(df_final['Indice de stabilité'], shade=True, bw_method=0.5, color="lightpink")
plt.title('Distribution de la variable Indice de Stabilité politique')
plt.xlabel('Stabilité politique')
plt.ylabel('Fréquence d\'apparition')
plt.savefig("distribution_stab_po.png")
plt.show()

In [ ]:
df_final[['Pays','Indice de stabilité']].sort_values(by='Indice de stabilité', ascending=False).head(20)

In [ ]:
# Tranches d'indice de stabilité politique
#df_final['classe_indice'] = 'Pays instable'
#df_final['classe_indice'].loc[df_final[df_final['Indice de stabilité']>=0].index] = 'Pays stable'
#df_final['classe_indice'].loc[df_final[df_final['Indice de stabilité']>=1].index] = 'Pays très stable'

#df_final.head()

# **<font color='indianred'>Partie 4 : Analyse bivariée des indicateurs</font>**

On distingue 3 groupes d'indicateurs:

1er groupe :
*   Disponibilité alimentaire
*   Importations
*   Production

2ème groupe : Population

3ème groupe :
*   PIB/ Habitant
*   Indice de stabilité politique

# <a name="C16"><font color='LightSeaGreen'>Disponibilité alimentaire / Importations</font></a>

In [ ]:
#Visualizing the data - displot
plt.figure(figsize=(19,5))
plot_dispo = sns.distplot(df_final["Disponibilité alimentaire"])
plot_import = sns.distplot(df_final["Importations"])
plt.xlabel('Disponibilité / Importations')

Question : Les importations dependent-elles de la disponibilité alimentaire ? Réponse: Oui/Non

H0 : les importations ne dépendent pas de la disponibilité alimentaire
H1 : les importations dépendent de la disponibilité alimentaire

In [ ]:
plt.figure(figsize=(12,4))
sns.regplot(data=df_final, x="Disponibilité alimentaire", y="Importations",fit_reg=False, scatter_kws={"color":"purple","alpha":1.0,"s":50})
plt.xlabel('Disponibilité alimentaire')
plt.ylabel('Importations')
plt.title('Corrélation entre Disponibilité et Importations')
plt.savefig("dispo_imp.png")
plt.show()

In [ ]:
#Test  de Pearson : calcul du coefficient de corrélation de Pearson et de la p-value
from scipy.stats import pearsonr 
CorrAgeMontant = pd.DataFrame(pearsonr(df_final['Disponibilité alimentaire'], df_final['Importations']),index=['Pearson_coeff','p-value'],columns=['resultat_test']) 
CorrAgeMontant

In [ ]:
#Test de Spearman
st.spearmanr(df_final['Disponibilité alimentaire'], df_final['Importations'])

p-value < 0.05 => Il y a une dépendance entre la disponibilité alimentaire et les importations.

# <a name="C17"><font color='LightSeaGreen'>Disponibilité alimentaire / Production</font></a>

In [ ]:
plt.figure(figsize=(12,4))
sns.regplot(data=df_final, x="Disponibilité alimentaire", y="Production",fit_reg=False, scatter_kws={"color":"blue","alpha":1.0,"s":50})
plt.xlabel('Disponibilité alimentaire')
plt.ylabel('Production')
plt.title('Relation entre Disponibilité et Production')
plt.savefig("dispo_prod.png")
plt.show()

In [ ]:
#Test  de Pearson : calcul du coefficient de corrélation de Pearson et de la p-value
from scipy.stats import pearsonr 
CorrAgeMontant = pd.DataFrame(pearsonr(df_final['Disponibilité alimentaire'], df_final['Production']),index=['Pearson_coeff','p-value'],columns=['resultat_test']) 
CorrAgeMontant

In [ ]:
#Test de Spearman
st.spearmanr(df_final['Disponibilité alimentaire'], df_final['Production'])

p-value < 0.05  =>  Dépendance entre la disponibilité alimentaire et la production.

# <a name="C18"><font color='LightSeaGreen'>Importations / Production</font></a>

In [ ]:
plt.figure(figsize=(12,4))
sns.regplot(data=df_final, x='Importations', y="Production",fit_reg=False, scatter_kws={"color":"brown","alpha":1.0,"s":50})
plt.xlabel('Importations')
plt.ylabel('Production')
plt.title('Relation entre Importations et Production')
plt.savefig("imp_prod.png")
plt.show()

In [ ]:
#Test  de Pearson : calcul du coefficient de corrélation de Pearson et de la p-value
from scipy.stats import pearsonr 
CorrAgeMontant = pd.DataFrame(pearsonr(df_final['Importations'], df_final['Production']),index=['Pearson_coeff','p-value'],columns=['resultat_test']) 
CorrAgeMontant

In [ ]:
#Test de Spearman
st.spearmanr(df_final['Importations'], df_final['Production'])

Il y a corrélation entre les deux variables importations et production.

# <a name="C19"><font color='LightSeaGreen'>Importations / Population</font></a>

In [ ]:
plt.figure(figsize=(12,4))
sns.regplot(data=df_final, x="Importations", y="Population",fit_reg=False, scatter_kws={"color":"red","alpha":1.0,"s":50})
plt.xlabel('Importations')
plt.ylabel('Population')
plt.title('Relation entre Importations et Population')
plt.savefig("imp_pop.png")
plt.show()

In [ ]:
#Test  de Pearson : calcul du coefficient de corrélation de Pearson et de la p-value
from scipy.stats import pearsonr 
CorrAgeMontant = pd.DataFrame(pearsonr(df_final['Importations'], df_final['Population']),index=['Pearson_coeff','p-value'],columns=['resultat_test']) 
CorrAgeMontant

In [ ]:
#Test de Spearman
st.spearmanr(df_final['Importations'], df_final['Population'])

Pas de corrélation entre les importations et la population des pays.

# <a name="C20"><font color='LightSeaGreen'>Indice de stabilité politique / PIB par Habitant</font></a>

In [ ]:
plt.figure(figsize=(12,4))
sns.regplot(data=df_final, x="Indice de stabilité", y="PIB/Hab",fit_reg=False, scatter_kws={"color":"lightblue","alpha":1.0,"s":50})
plt.xlabel('Indice de stabilité')
plt.ylabel('PIB/Hab')
plt.title('Relation entre Indice de stabilité et PIB/Hab')
plt.savefig("ind_pib.png")
plt.show()

In [ ]:
#Test  de Pearson : calcul du coefficient de corrélation de Pearson et de la p-value
from scipy.stats import pearsonr 
CorrAgeMontant = pd.DataFrame(pearsonr(df_final['Indice de stabilité'], df_final['PIB/Hab']),index=['Pearson_coeff','p-value'],columns=['resultat_test']) 
CorrAgeMontant

In [ ]:
#Test de Spearman
st.spearmanr(df_final['Indice de stabilité'], df_final['PIB/Hab'])

Il y a une forte corrélation entre l'indice de stabilité politique et le PIB par habitant.

# **<font color='indianred'>Partie 5 : CAH, Kmeans et ACP</font>**

In [ ]:
df_final=df_final.set_index('Pays')

Je supprime les variables Population et Production car les EU et le Brésil ont des valeurs très supérieures aux autres pays.

In [ ]:
df_final=df_final[['Disponibilité alimentaire',	'Importations',	'PIB/Hab',	'Indice de stabilité']]
df_final.head(1)

# <a name="C20"><font color='LightSeaGreen'>Classification Ascendante Hiérarchique</font></a>

In [ ]:
from functions import plot_dendrogram
from scipy.cluster.hierarchy import linkage, fcluster
from sklearn import preprocessing

# préparation des données pour le clustering
X = df_final
nom_pays = df_final.index

In [ ]:
# Centrage et Réduction
std_scale = preprocessing.StandardScaler().fit(X)
X_scaled = std_scale.transform(X)

# Clustering hiérarchique
Z = linkage(X_scaled, 'ward')

# Affichage du dendrogramme
plot_dendrogram(Z, nom_pays)

In [ ]:
#Avant normalisation
pd.DataFrame(X,columns=X.columns).plot(kind='density',sharex=True,figsize=(12,5),layout=(10,1))

In [ ]:
#Après normalisation
pd.DataFrame(X_scaled,columns=X.columns).plot(kind='density',sharex=True,figsize=(12,5),layout=(10,1))

In [ ]:
# Create a hierarchical clustering model
from sklearn.cluster import AgglomerativeClustering

hiercluster = AgglomerativeClustering(affinity='euclidean', linkage='ward', compute_full_tree=True) 
hiercluster

In [ ]:
# Fit the data to the model and determine which clusters each data point belongs to:
hiercluster.set_params(n_clusters=3)
clusters = hiercluster.fit_predict(X_scaled) 
np.bincount(clusters) # count of data points in each cluster

In [ ]:
# Read off 5 clusters:
hiercluster.set_params(n_clusters=5)
clusters = hiercluster.fit_predict(X_scaled) 
np.bincount(clusters) # count of data points in each cluster

In [ ]:
# Add cluster number to the original data
X_scaled_clustered = pd.DataFrame(X_scaled, columns=X.columns, index=X.index)
X_scaled_clustered['cluster'] = clusters

X_scaled_clustered.head()

In [ ]:
# Find the size of the clusters
X_scaled_clustered["cluster"].value_counts()

In [ ]:
# Show a dendrogram, just for the smallest cluster
from scipy.cluster.hierarchy import linkage, fcluster 

sample = X_scaled_clustered[X_scaled_clustered.cluster==3]
Z = linkage(sample, 'ward') 
names = sample.index 
plot_dendrogram(Z, names)

# <a name="C20"><font color='LightSeaGreen'>Analyse en Composantes Principales (PCA)</font></a>

In [ ]:
from sklearn.decomposition import PCA
from sklearn import decomposition, preprocessing

n_comp=4

# Création du PCA pour réduire les données à 2 dimensions pour la visualisation
pca = PCA(n_components=n_comp)
pca.fit(X_scaled)

# Cercle des corrélations
from functions import display_circles
pcs = pca.components_
display_circles(pcs, n_comp, pca, [(0,1)], labels = np.array(df_final.columns))

# Projection des individus (nouvel espace vectoriel)
X_projected = pca.transform(X_scaled)

# Affiche un scatter plot des points des data dans le nouvel espace vectoriel
from functions import display_factorial_planes
display_factorial_planes(X_projected, n_comp, pca, [(0,1)], labels=None, illustrative_var = clusters, alpha = 0.8)

# Eboulis des valeurs propres
from functions import display_scree_plot
display_scree_plot(pca)

plt.show()

In [ ]:
# Add the cluster number to the original scaled data
X_clustered = pd.DataFrame(X_scaled, index=X.index, columns=X.columns)
X_clustered["cluster"] = clusters

# Display parallel coordinates plots, one for each cluster
#from functions import parallel_coordinates
from functions import display_parallel_coordinates
display_parallel_coordinates(X_clustered, 5)

In [ ]:
#Variance of the data explained by each of the 4 principal components, 
#starting with PC1, the principal component that explains most of the variance.
pca.explained_variance_ratio_

In [ ]:
#if we sum up the values in this array they will equal 1,
#indicating that the 4 principal components together explain 100% of the variance of the data.
pca.explained_variance_ratio_.cumsum()

In [ ]:
#Moyenne de chaque variable dans chaque cluster
means =  X_clustered.groupby(by="cluster").mean()
means

In [ ]:
from functions import display_parallel_coordinates_centroids
display_parallel_coordinates_centroids(means.reset_index(), 5)

BOXPLOTS

In [ ]:
X_clustered.boxplot(by="cluster", figsize=(15,10), layout=(2,5))

# <a name="C20"><font color='LightSeaGreen'>K-Means</font></a>

In [ ]:
# préparation des données pour le clustering
X = df_final
nom_pays = df_final.index
# Centrage et Réduction
std_scale = preprocessing.StandardScaler().fit(X)
X_scaled = std_scale.transform(X)

In [ ]:
# Import the kmeans algorithm
from sklearn.cluster import KMeans

# Create a k-means clustering model
kmeans = KMeans(init='random', n_clusters=5, n_init=10)

# Fit the data to the model
kmeans.fit(X_scaled)

# Determine which clusters each data point belongs to:
clusters =  kmeans.predict(X_scaled)
clusters

In [ ]:
# Add cluster number to the original data
X_scaled_clustered = pd.DataFrame(X_scaled, columns=X.columns, index=X.index)
X_scaled_clustered['cluster'] = clusters

X_scaled_clustered.head()

In [ ]:
# Run a number of tests, for 1, 2, ... num_clusters
num_clusters = 9
kmeans_tests = [KMeans(n_clusters=i, init='random', n_init=10) for i in range(1, num_clusters)]
score = [kmeans_tests[i].fit(X_scaled).score(X_scaled) for i in range(len(kmeans_tests))]

# Plot the curve
plt.plot(range(1, num_clusters),score)
plt.xlabel('Number of Clusters')
plt.ylabel('Score')
plt.title('Elbow Curve')
plt.show()

In [ ]:
from sklearn.decomposition import PCA
# Create a PCA model to reduce our data to 2 dimensions for visualisation
pca = PCA(n_components=2)
pca.fit(X_scaled)

# Transfor the scaled data to the new PCA space
X_reduced = pca.transform(X_scaled)

In [ ]:
# Convert to a data frame
X_reduceddf = pd.DataFrame(X_reduced, index=X.index, columns=['PC1','PC2'])
X_reduceddf['cluster'] = clusters
X_reduceddf.head()

In [ ]:
centres_reduced = pca.transform(kmeans.cluster_centers_)
centres_reduced

In [ ]:
display_factorial_planes(X_reduced, 2, pca, [(0,1)], illustrative_var = clusters, alpha = 0.8)
plt.scatter(centres_reduced[:, 0], centres_reduced[:, 1],
            marker='x', s=169, linewidths=3,
            color='r', zorder=10)

In [ ]:
# Add the cluster number to the original scaled data
X_clustered = pd.DataFrame(X_scaled, index=X.index, columns=X.columns)
X_clustered["cluster"] = clusters

# Display parallel coordinates plots, one for each cluster
display_parallel_coordinates(X_clustered, 5)

In [ ]:
# Create a data frame containing our centroids
centroids = pd.DataFrame(kmeans.cluster_centers_, columns=X.columns)
centroids['cluster'] = centroids.index

display_parallel_coordinates_centroids(centroids, 6)