<a href="https://colab.research.google.com/github/Randouch-droid/Etude-de-march-de-la-poule-qui-chante-avec-Python/blob/main/projet9.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# <font color='indianred'> LA POULE QUI CHANTE </font>
##MISSION : Analyse pour le lancement à l’international en groupant les pays à cibler pour exporter nos poulets

1ère partie : Prétraitement des données


2ème partie : Analyse par 
<li>ACP afin de visualiser les résultats de ton analyse, comprendre les groupes, les liens entre les variables, les liens entre les individus</li>
<li>Méthode des k-means, afin d’affiner l’analyse et comparer les résultats des deux méthodes de clustering et analyse des centroides des classes</li>
<li>Classification ascendante hiérarchique avec un dendrogramme comme visualisation</li>


# Sommaire :
**Partie 1 : Importation des données**
 - <a href="#C1">Importation des librairies</a>
 - <a href="#C2">Importation des jeux de données</a>
 
**Partie 2 : Analyse des jeux de données**
 - <a href="#C3">Affichage du nombre de lignes et colonnes des jeux de données </a>
 - <a href="#C4">Affichage des informations des jeux de données </a>
 - <a href="#C5">Analyse des valeurs manquantes</a>
 - <a href="#C6">Unicité de la clé primaire</a>
 - <a href="#C7">Analyse des doublons</a>

# **<font color='indianred'>Partie 1 : Importation des données</font>**

# <a name="C1"><font color='LightSeaGreen'>Importation des librairies</font></a>

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import io
from google.colab import files

# <a name="C2"><font color='LightSeaGreen'>Importation des données</font></a>

In [4]:
uploaded = files.upload()

Saving DisponibiliteAlimentaire_2017.csv to DisponibiliteAlimentaire_2017.csv
Saving Population_2000_2018.csv to Population_2000_2018.csv

In [6]:
#Disponibilité alimentaire pour l'année 2017
df_dispo=pd.read_csv(io.BytesIO(uploaded['DisponibiliteAlimentaire_2017.csv'])) 
df_dispo.head()

,Code Domaine,Domaine,Code zone,Zone,Code Élément,Élément,Code Produit,Produit,Code année,Année,Unité,Valeur,Symbole,Description du Symbole
0,FBS,Nouveaux Bilans Alimentaire,2,Afghanistan,5511,Production,2511,Blé et produits,2017,2017,Milliers de tonnes,4281.0,S,Données standardisées
1,FBS,Nouveaux Bilans Alimentaire,2,Afghanistan,5611,Importations - Quantité,2511,Blé et produits,2017,2017,Milliers de tonnes,2302.0,S,Données standardisées
2,FBS,Nouveaux Bilans Alimentaire,2,Afghanistan,5072,Variation de stock,2511,Blé et produits,2017,2017,Milliers de tonnes,-119.0,S,Données standardisées
3,FBS,Nouveaux Bilans Alimentaire,2,Afghanistan,5911,Exportations - Quantité,2511,Blé et produits,2017,2017,Milliers de tonnes,0.0,S,Données standardisées
4,FBS,Nouveaux Bilans Alimentaire,2,Afghanistan,5301,Disponibilité intérieure,2511,Blé et produits,2017,2017,Milliers de tonnes,6701.0,S,Données standardisées

In [7]:
#Population entre les années 2000 et 2018
df_pop=pd.read_csv(io.BytesIO(uploaded['Population_2000_2018.csv'])) 
df_pop.head()

,Code Domaine,Domaine,Code zone,Zone,Code Élément,Élément,Code Produit,Produit,Code année,Année,Unité,Valeur,Symbole,Description du Symbole,Note
0,OA,Séries temporelles annuelles,2,Afghanistan,511,Population totale,3010,Population-Estimations,2000,2000,1000 personnes,20779.953,X,Sources internationales sûres,NaN
1,OA,Séries temporelles annuelles,2,Afghanistan,511,Population totale,3010,Population-Estimations,2001,2001,1000 personnes,21606.988,X,Sources internationales sûres,NaN
2,OA,Séries temporelles annuelles,2,Afghanistan,511,Population totale,3010,Population-Estimations,2002,2002,1000 personnes,22600.770,X,Sources internationales sûres,NaN
3,OA,Séries temporelles annuelles,2,Afghanistan,511,Population totale,3010,Population-Estimations,2003,2003,1000 personnes,23680.871,X,Sources internationales sûres,NaN
4,OA,Séries temporelles annuelles,2,Afghanistan,511,Population totale,3010,Population-Estimations,2004,2004,1000 personnes,24726.684,X,Sources internationales sûres,NaN

In [17]:
uploaded = files.upload()

Saving pibindice.csv to pibindice.csv

In [19]:
#Tableau regroupant les données sur le PIB/habitant et l'indice de stabilité politique
df_pibind=pd.read_csv(io.BytesIO(uploaded['pibindice.csv'])) 
df_pibind.head()

,Code Domaine,Domaine,Code zone (FAO),Zone,Code Élément,Élément,Code Produit,Produit,Code année,Année,Unité,Valeur,Symbole,Description du Symbole,Note
0,FS,Données de la sécurité alimentaire,2,Afghanistan,6126,Valeur,22013,"PIB par habitant, ($ PPA internationaux consta...",2017,2017,I$,2058.40,X,Sources internationales sûres,NaN
1,FS,Données de la sécurité alimentaire,2,Afghanistan,6125,Valeur,21032,Stabilité politique et absence de violence/ter...,2017,2017,indice,-2.80,X,Sources internationales sûres,NaN
2,FS,Données de la sécurité alimentaire,202,Afrique du Sud,6126,Valeur,22013,"PIB par habitant, ($ PPA internationaux consta...",2017,2017,I$,12701.30,X,Sources internationales sûres,NaN
3,FS,Données de la sécurité alimentaire,202,Afrique du Sud,6125,Valeur,21032,Stabilité politique et absence de violence/ter...,2017,2017,indice,-0.28,X,Sources internationales sûres,NaN
4,FS,Données de la sécurité alimentaire,3,Albanie,6126,Valeur,22013,"PIB par habitant, ($ PPA internationaux consta...",2017,2017,I$,12771.00,X,Sources internationales sûres,NaN

# **<font color='indianred'>Partie 2 : Analyse des jeux de données</font>**

# <a name="C3"><font color='LightSeaGreen'>Affichage du nombre de lignes et colonnes des jeux de données</font></a>

In [21]:
#nombre de lignes et colonnes
print('Disponibilité alimentaire',df_dispo.shape)
print('Population',df_pop.shape)
print('PIB_Indice',df_pibind.shape)

Disponibilité alimentaire (176600, 14)
Population (4411, 15)
PIB_Indice (384, 15)

# <a name="C4"><font color='LightSeaGreen'>Affichage des informations des jeux de données</font></a>

In [22]:
print('Table Disponibilité Alimentaire')
df_dispo.info()
print('\n')
print('Table Population')
df_pop.info()
print('\n')
print('Table PIB Indice')
df_pibind.info()

Table Disponibilité Alimentaire
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 176600 entries, 0 to 176599
Data columns (total 14 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   Code Domaine            176600 non-null  object
 1   Domaine                 176600 non-null  object
 2   Code zone               176600 non-null  int64
 3   Zone                    176600 non-null  object
 4   Code Élément            176600 non-null  int64
 5   Élément                 176600 non-null  object
 6   Code Produit            176600 non-null  int64
 7   Produit                 176600 non-null  object
 8   Code année              176600 non-null  int64
 9   Année                   176600 non-null  int64
 10  Unité                   176600 non-null  object
 11  Valeur                  176600 non-null  float64
 12  Symbole                 176600 non-null  object
 13  Description du Symbole  176600 non-null  object
dtypes: float64(1), int64(5), object(8)
memory usage: 18.9+ MB


Table Population
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4411 entries, 0 to 4410
Data columns (total 15 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Code Domaine            4411 non-null   object
 1   Domaine                 4411 non-null   object
 2   Code zone               4411 non-null   int64
 3   Zone                    4411 non-null   object
 4   Code Élément            4411 non-null   int64
 5   Élément                 4411 non-null   object
 6   Code Produit            4411 non-null   int64
 7   Produit                 4411 non-null   object
 8   Code année              4411 non-null   int64
 9   Année                   4411 non-null   int64
 10  Unité                   4411 non-null   object
 11  Valeur                  4411 non-null   float64
 12  Symbole                 4411 non-null   object
 13  Description du Symbole  4411 non-null   object
 14  Note                    258 non-null    object
dtypes: float64(1), int64(5), object(9)
memory usage: 517.0+ KB


Table PIB Indice
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 384 entries, 0 to 383
Data columns (total 15 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Code Domaine            384 non-null    object
 1   Domaine                 384 non-null    object
 2   Code zone (FAO)         384 non-null    int64
 3   Zone                    384 non-null    object
 4   Code Élément            384 non-null    int64
 5   Élément                 384 non-null    object
 6   Code Produit            384 non-null    int64
 7   Produit                 384 non-null    object
 8   Code année              384 non-null    int64
 9   Année                   384 non-null    int64
 10  Unité                   384 non-null    object
 11  Valeur                  384 non-null    float64
 12  Symbole                 384 non-null    object
 13  Description du Symbole  384 non-null    object
 14  Note                    0 non-null      float64
dtypes: float64(2), int64(5), object(8)
memory usage: 45.1+ KB

# <a name="C5"><font color='LightSeaGreen'>Analyse des valeurs manquantes</font></a>

In [44]:
#Création d'une fonction calculant le pourcentage de valeurs manquantes 
#et affichant une heatmap pour visualiser les valeurs manquantes 
def val_manq(df):
    ligne,colonne=df.shape
    nb_cell=ligne*colonne
    nb_null=df.isnull().sum().sum()
    prct=nb_null *100/nb_cell
    print('Nombre de valeurs manquantes =',nb_null)
    print('Nombre de cellulles totales =',nb_cell)
    print('Pourcentage de valeurs manquantes = ',round(prct,2),'%') 
    print('\n')
    print('Pourcentage de valeurs manquantes avec le nombre de colonnes =\n',round((df.isna().sum()*100/df.shape[0]),2).value_counts(ascending=True))
    #Calcul des pourcentages de valeurs manquantes par variable(colonne)
    print('\n')
    print('Pourcentage de valeurs manquantes par variable/colonne =\n', 
          round((df.isna().sum()*100/df.shape[0]),2).sort_values(ascending=True))
    print('\n')

In [47]:
#Appel de la fonction val_manq 
#Affichage des pourcentages de valeurs manquantes des 2 jeux de données 
print('1-Table disponibilité alimentaire :')
val_manq(df_dispo)
print('---------------------------------------')
print('2-Table population :')
val_manq(df_pop)
print('---------------------------------------')
print('3-Table PIB Indice :')
val_manq(df_pibind)

1-Table disponibilité alimentaire :
Nombre de valeurs manquantes = 0
Nombre de cellulles totales = 2472400
Pourcentage de valeurs manquantes =  0.0 %


Pourcentage de valeurs manquantes avec le nombre de colonnes =
 0.0    14
dtype: int64


Pourcentage de valeurs manquantes par variable/colonne =
 Code Domaine              0.0
Domaine                   0.0
Code zone                 0.0
Zone                      0.0
Code Élément              0.0
Élément                   0.0
Code Produit              0.0
Produit                   0.0
Code année                0.0
Année                     0.0
Unité                     0.0
Valeur                    0.0
Symbole                   0.0
Description du Symbole    0.0
dtype: float64


---------------------------------------
2-Table population :
Nombre de valeurs manquantes = 4153
Nombre de cellulles totales = 66165
Pourcentage de valeurs manquantes =  6.28 %


Pourcentage de valeurs manquantes avec le nombre de colonnes =
 94.15     1
0.00     14
dtype: int64


Pourcentage de valeurs manquantes par variable/colonne =
 Code Domaine               0.00
Domaine                    0.00
Code zone                  0.00
Zone                       0.00
Code Élément               0.00
Élément                    0.00
Code Produit               0.00
Produit                    0.00
Code année                 0.00
Année                      0.00
Unité                      0.00
Valeur                     0.00
Symbole                    0.00
Description du Symbole     0.00
Note                      94.15
dtype: float64


---------------------------------------
3-Table PIB Indice :
Nombre de valeurs manquantes = 384
Nombre de cellulles totales = 5760
Pourcentage de valeurs manquantes =  6.67 %


Pourcentage de valeurs manquantes avec le nombre de colonnes =
 100.0     1
0.0      14
dtype: int64


Pourcentage de valeurs manquantes par variable/colonne =
 Code Domaine                0.0
Domaine                     0.0
Code zone (FAO)             0.0
Zone                        0.0
Code Élément                0.0
Élément                     0.0
Code Produit                0.0
Produit                     0.0
Code année                  0.0
Année                       0.0
Unité                       0.0
Valeur                      0.0
Symbole                     0.0
Description du Symbole      0.0
Note                      100.0
dtype: float64

# <a name="C6"><font color='LightSeaGreen'>Unicité de la clé primaire</font></a>

In [12]:
#Creation d'une fonction qui teste l'unicité d'une colonne
def cle_primaire(df,col):
    if len(df)==len(df[col].unique()):
        print('La variable', col, 'est une clé primaire')
    else: 
        print('La variable', col, 'n\'est pas une clé primaire')

In [24]:
cle_primaire(df_dispo,'Code Domaine')
cle_primaire(df_pop,'Code Domaine')
cle_primaire(df_pibind,'Code Domaine')

La variable Code Domaine n'est pas une clé primaire
La variable Code Domaine n'est pas une clé primaire
La variable Code Domaine n'est pas une clé primaire

# <a name="C7"><font color='LightSeaGreen'>Analyse des doublons</font></a>

In [14]:
#Fonction qui detecte les doublons
def detect_doublons(df):
    doub=df[df[df.columns].duplicated(subset=None, keep='first')]
    print('------------------') 
    print('La table contient', len(doub), 'doublons.')
    print(doub.shape)
    print('\n') 
    print(doub)
    print('\n')

In [25]:
print('------------------') 
print('Table disponibilité alimentaire')
detect_doublons(df_dispo)
print('------------------') 
print('Table population')
detect_doublons(df_pop)
print('------------------') 
print('Table pib indice')
detect_doublons(df_pibind)

------------------
Table disponibilité alimentaire
------------------
La table contient 0 doublons.
(0, 14)


Empty DataFrame
Columns: [Code Domaine, Domaine, Code zone, Zone, Code Élément, Élément, Code Produit, Produit, Code année, Année, Unité, Valeur, Symbole, Description du Symbole]
Index: []


------------------
Table population
------------------
La table contient 0 doublons.
(0, 15)


Empty DataFrame
Columns: [Code Domaine, Domaine, Code zone, Zone, Code Élément, Élément, Code Produit, Produit, Code année, Année, Unité, Valeur, Symbole, Description du Symbole, Note]
Index: []


------------------
Table pib indice
------------------
La table contient 0 doublons.
(0, 15)


Empty DataFrame
Columns: [Code Domaine, Domaine, Code zone (FAO), Zone, Code Élément, Élément, Code Produit, Produit, Code année, Année, Unité, Valeur, Symbole, Description du Symbole, Note]
Index: []

In [40]:
#Garder la viande de volailles 
df_dispovol=df_dispo[df_dispo['Produit']=='Viande de Volailles']        
df_dispovol.head()

,Code Domaine,Domaine,Code zone,Zone,Code Élément,Élément,Code Produit,Produit,Code année,Année,Unité,Valeur,Symbole,Description du Symbole
651,FBS,Nouveaux Bilans Alimentaire,2,Afghanistan,5511,Production,2734,Viande de Volailles,2017,2017,Milliers de tonnes,28.0,S,Données standardisées
652,FBS,Nouveaux Bilans Alimentaire,2,Afghanistan,5611,Importations - Quantité,2734,Viande de Volailles,2017,2017,Milliers de tonnes,29.0,S,Données standardisées
653,FBS,Nouveaux Bilans Alimentaire,2,Afghanistan,5072,Variation de stock,2734,Viande de Volailles,2017,2017,Milliers de tonnes,0.0,S,Données standardisées
654,FBS,Nouveaux Bilans Alimentaire,2,Afghanistan,5301,Disponibilité intérieure,2734,Viande de Volailles,2017,2017,Milliers de tonnes,57.0,S,Données standardisées
655,FBS,Nouveaux Bilans Alimentaire,2,Afghanistan,5123,Pertes,2734,Viande de Volailles,2017,2017,Milliers de tonnes,2.0,S,Données standardisées

In [41]:
df_dispovol=df_dispovol[['Zone', 'Élément', 'Unité', 'Valeur']]

In [42]:
df_dispovol=df_dispovol.pivot_table(index='Zone', columns='Élément', values='Valeur', aggfunc=sum)
df_dispovol.head()

Élément,Alimentation pour touristes,Aliments pour animaux,Autres utilisations (non alimentaire),Disponibilité alimentaire (Kcal/personne/jour),Disponibilité alimentaire en quantité (kg/personne/an),Disponibilité de matière grasse en quantité (g/personne/jour),Disponibilité de protéines en quantité (g/personne/jour),Disponibilité intérieure,Exportations - Quantité,Importations - Quantité,Nourriture,Pertes,Production,Résidus,Semences,Traitement,Variation de stock
Zone,,,,,,,,,,,,,,,,,
Afghanistan,NaN,NaN,NaN,5.0,1.53,0.33,0.54,57.0,NaN,29.0,55.0,2.0,28.0,0.0,NaN,NaN,0.0
Afrique du Sud,0.0,NaN,NaN,143.0,35.69,9.25,14.11,2118.0,63.0,514.0,2035.0,83.0,1667.0,0.0,NaN,NaN,0.0
Albanie,NaN,NaN,NaN,85.0,16.36,6.45,6.26,47.0,0.0,38.0,47.0,NaN,13.0,0.0,NaN,NaN,4.0
Algérie,0.0,NaN,NaN,22.0,6.38,1.50,1.97,277.0,0.0,2.0,264.0,13.0,275.0,0.0,NaN,NaN,0.0
Allemagne,NaN,NaN,NaN,71.0,19.47,4.16,7.96,1739.0,646.0,842.0,1609.0,NaN,1514.0,-38.0,NaN,167.0,-29.0

In [43]:
df_dispovol[['Disponibilité alimentaire en quantité (kg/personne/an)', 'Exportations - Quantité',	'Importations - Quantité', 'Production']]

Élément,Disponibilité alimentaire en quantité (kg/personne/an),Exportations - Quantité,Importations - Quantité,Production
Zone,,,,
Afghanistan,1.53,NaN,29.0,28.0
Afrique du Sud,35.69,63.0,514.0,1667.0
Albanie,16.36,0.0,38.0,13.0
Algérie,6.38,0.0,2.0,275.0
Allemagne,19.47,646.0,842.0,1514.0
...,...,...,...,...
Émirats arabes unis,43.47,94.0,433.0,48.0
Équateur,19.31,0.0,0.0,340.0
États-Unis d'Amérique,55.68,3692.0,123.0,21914.0
Éthiopie,0.13,NaN,1.0,14.0
Îles Salomon,4.45,0.0,6.0,0.0

In [50]:
#Garder l'année 2017 
df_pop2017=df_pop[df_pop['Année']==2017]        
df_pop2017

,Code Domaine,Domaine,Code zone,Zone,Code Élément,Élément,Code Produit,Produit,Code année,Année,Unité,Valeur,Symbole,Description du Symbole,Note
17,OA,Séries temporelles annuelles,2,Afghanistan,511,Population totale,3010,Population-Estimations,2017,2017,1000 personnes,36296.113,X,Sources internationales sûres,NaN
36,OA,Séries temporelles annuelles,202,Afrique du Sud,511,Population totale,3010,Population-Estimations,2017,2017,1000 personnes,57009.756,X,Sources internationales sûres,NaN
55,OA,Séries temporelles annuelles,3,Albanie,511,Population totale,3010,Population-Estimations,2017,2017,1000 personnes,2884.169,X,Sources internationales sûres,NaN
74,OA,Séries temporelles annuelles,4,Algérie,511,Population totale,3010,Population-Estimations,2017,2017,1000 personnes,41389.189,X,Sources internationales sûres,NaN
93,OA,Séries temporelles annuelles,79,Allemagne,511,Population totale,3010,Population-Estimations,2017,2017,1000 personnes,82658.409,X,Sources internationales sûres,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4333,OA,Séries temporelles annuelles,236,Venezuela (République bolivarienne du),511,Population totale,3010,Population-Estimations,2017,2017,1000 personnes,29402.484,X,Sources internationales sûres,NaN
4352,OA,Séries temporelles annuelles,237,Viet Nam,511,Population totale,3010,Population-Estimations,2017,2017,1000 personnes,94600.648,X,Sources internationales sûres,NaN
4371,OA,Séries temporelles annuelles,249,Yémen,511,Population totale,3010,Population-Estimations,2017,2017,1000 personnes,27834.819,X,Sources internationales sûres,NaN
4390,OA,Séries temporelles annuelles,251,Zambie,511,Population totale,3010,Population-Estimations,2017,2017,1000 personnes,16853.599,X,Sources internationales sûres,NaN
4409,OA,Séries temporelles annuelles,181,Zimbabwe,511,Population totale,3010,Population-Estimations,2017,2017,1000 personnes,14236.595,X,Sources internationales sûres,NaN

In [54]:
df_pop2017=df_pop2017[['Zone', 'Unité', 'Valeur']]
df_pop2017

                                        Zone           Unité     Valeur
17                               Afghanistan  1000 personnes  36296.113
36                            Afrique du Sud  1000 personnes  57009.756
55                                   Albanie  1000 personnes   2884.169
74                                   Algérie  1000 personnes  41389.189
93                                 Allemagne  1000 personnes  82658.409
...                                      ...             ...        ...
4333  Venezuela (République bolivarienne du)  1000 personnes  29402.484
4352                                Viet Nam  1000 personnes  94600.648
4371                                   Yémen  1000 personnes  27834.819
4390                                  Zambie  1000 personnes  16853.599
4409                                Zimbabwe  1000 personnes  14236.595

[236 rows x 3 columns]

In [58]:
df_pibind=df_pibind[['Zone', 'Produit', 'Unité', 'Valeur']]
df_pibind

,Zone,Produit,Unité,Valeur
0,Afghanistan,"PIB par habitant, ($ PPA internationaux consta...",I$,2058.40
1,Afghanistan,Stabilité politique et absence de violence/ter...,indice,-2.80
2,Afrique du Sud,"PIB par habitant, ($ PPA internationaux consta...",I$,12701.30
3,Afrique du Sud,Stabilité politique et absence de violence/ter...,indice,-0.28
4,Albanie,"PIB par habitant, ($ PPA internationaux consta...",I$,12771.00
...,...,...,...,...
379,Yémen,Stabilité politique et absence de violence/ter...,indice,-2.94
380,Zambie,"PIB par habitant, ($ PPA internationaux consta...",I$,3485.00
381,Zambie,Stabilité politique et absence de violence/ter...,indice,0.15
382,Zimbabwe,"PIB par habitant, ($ PPA internationaux consta...",I$,3274.60
383,Zimbabwe,Stabilité politique et absence de violence/ter...,indice,-0.71

In [59]:
df_pibind=df_pibind.pivot_table(index='Zone', columns='Produit', values='Valeur', aggfunc=sum)
df_pibind.head()

Produit,"PIB par habitant, ($ PPA internationaux constants de 2011)",Stabilité politique et absence de violence/terrorisme (indice)
Zone,,
Afghanistan,2058.4,-2.80
Afrique du Sud,12701.3,-0.28
Albanie,12771.0,0.38
Algérie,11737.4,-0.92
Allemagne,52952.9,0.59