<a href="https://colab.research.google.com/github/Randouch-droid/Etude-de-march-de-la-poule-qui-chante-avec-Python/blob/main/projet9.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# <font color='indianred'> LA POULE QUI CHANTE </font>
##MISSION : Analyse pour le lancement à l’international en groupant les pays à cibler pour exporter nos poulets

1ère partie : Prétraitement des données


2ème partie : Analyse  
<li>ACP afin de visualiser les résultats de ton analyse, comprendre les groupes, les liens entre les variables, les liens entre les individus</li>
<li>Méthode des k-means, afin d’affiner l’analyse et comparer les résultats des deux méthodes de clustering et analyse des centroides des classes</li>
<li>Classification ascendante hiérarchique avec un dendrogramme comme visualisation</li>


# Sommaire :
**Partie 1 : Importation des données**
 - <a href="#C1">Importation des librairies</a>
 - <a href="#C2">Importation des jeux de données</a>
 
**Partie 2 : Analyse des jeux de données**
 - <a href="#C3">Affichage du nombre de lignes et colonnes des jeux de données </a>
 - <a href="#C4">Affichage des informations des jeux de données </a>
 - <a href="#C5">Analyse des valeurs manquantes</a>
 - <a href="#C6">Unicité de la clé primaire</a>
 - <a href="#C7">Analyse des doublons</a>

**Partie 3 : Analyse des indicateurs**

# **<font color='indianred'>Partie 1 : Importation des données</font>**

# <a name="C1"><font color='LightSeaGreen'>Importation des librairies</font></a>

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import io
from google.colab import files

# <a name="C2"><font color='LightSeaGreen'>Importation des données</font></a>

In [2]:
uploaded = files.upload()

Saving DisponibiliteAlimentaire_2017.csv to DisponibiliteAlimentaire_2017.csv
Saving pibindice.csv to pibindice.csv
Saving Population_2000_2018.csv to Population_2000_2018.csv

In [157]:
#Disponibilité alimentaire pour l'année 2017
df_dispo=pd.read_csv(io.BytesIO(uploaded['DisponibiliteAlimentaire_2017.csv'])) 
df_dispo.head()

,Code Domaine,Domaine,Code zone,Zone,Code Élément,Élément,Code Produit,Produit,Code année,Année,Unité,Valeur,Symbole,Description du Symbole
0,FBS,Nouveaux Bilans Alimentaire,2,Afghanistan,5511,Production,2511,Blé et produits,2017,2017,Milliers de tonnes,4281.0,S,Données standardisées
1,FBS,Nouveaux Bilans Alimentaire,2,Afghanistan,5611,Importations - Quantité,2511,Blé et produits,2017,2017,Milliers de tonnes,2302.0,S,Données standardisées
2,FBS,Nouveaux Bilans Alimentaire,2,Afghanistan,5072,Variation de stock,2511,Blé et produits,2017,2017,Milliers de tonnes,-119.0,S,Données standardisées
3,FBS,Nouveaux Bilans Alimentaire,2,Afghanistan,5911,Exportations - Quantité,2511,Blé et produits,2017,2017,Milliers de tonnes,0.0,S,Données standardisées
4,FBS,Nouveaux Bilans Alimentaire,2,Afghanistan,5301,Disponibilité intérieure,2511,Blé et produits,2017,2017,Milliers de tonnes,6701.0,S,Données standardisées

In [49]:
#Population entre les années 2000 et 2018
df_pop=pd.read_csv(io.BytesIO(uploaded['Population_2000_2018.csv'])) 
df_pop.head()

,Code Domaine,Domaine,Code zone,Zone,Code Élément,Élément,Code Produit,Produit,Code année,Année,Unité,Valeur,Symbole,Description du Symbole,Note
0,OA,Séries temporelles annuelles,2,Afghanistan,511,Population totale,3010,Population-Estimations,2000,2000,1000 personnes,20779.953,X,Sources internationales sûres,NaN
1,OA,Séries temporelles annuelles,2,Afghanistan,511,Population totale,3010,Population-Estimations,2001,2001,1000 personnes,21606.988,X,Sources internationales sûres,NaN
2,OA,Séries temporelles annuelles,2,Afghanistan,511,Population totale,3010,Population-Estimations,2002,2002,1000 personnes,22600.770,X,Sources internationales sûres,NaN
3,OA,Séries temporelles annuelles,2,Afghanistan,511,Population totale,3010,Population-Estimations,2003,2003,1000 personnes,23680.871,X,Sources internationales sûres,NaN
4,OA,Séries temporelles annuelles,2,Afghanistan,511,Population totale,3010,Population-Estimations,2004,2004,1000 personnes,24726.684,X,Sources internationales sûres,NaN

In [50]:
#Tableau regroupant les données sur le PIB/habitant et l'indice de stabilité politique
df_pibind=pd.read_csv(io.BytesIO(uploaded['pibindice.csv'])) 
df_pibind.head()

,Code Domaine,Domaine,Code zone (FAO),Zone,Code Élément,Élément,Code Produit,Produit,Code année,Année,Unité,Valeur,Symbole,Description du Symbole,Note
0,FS,Données de la sécurité alimentaire,2,Afghanistan,6126,Valeur,22013,"PIB par habitant, ($ PPA internationaux consta...",2017,2017,I$,2058.40,X,Sources internationales sûres,NaN
1,FS,Données de la sécurité alimentaire,2,Afghanistan,6125,Valeur,21032,Stabilité politique et absence de violence/ter...,2017,2017,indice,-2.80,X,Sources internationales sûres,NaN
2,FS,Données de la sécurité alimentaire,202,Afrique du Sud,6126,Valeur,22013,"PIB par habitant, ($ PPA internationaux consta...",2017,2017,I$,12701.30,X,Sources internationales sûres,NaN
3,FS,Données de la sécurité alimentaire,202,Afrique du Sud,6125,Valeur,21032,Stabilité politique et absence de violence/ter...,2017,2017,indice,-0.28,X,Sources internationales sûres,NaN
4,FS,Données de la sécurité alimentaire,3,Albanie,6126,Valeur,22013,"PIB par habitant, ($ PPA internationaux consta...",2017,2017,I$,12771.00,X,Sources internationales sûres,NaN

##<font color='purple'>Préparation des données</font>

### Table Disponibilité Alimentaire

In [158]:
#La table Disponibilité Alimentaire contient des données pour l'année 2017
#Garder la viande de volailles 
df_dispovol=df_dispo[df_dispo['Produit']=='Viande de Volailles']     
#renomme la colonne zone par pays
df_dispovol=df_dispovol.rename(columns={'Zone':'Pays'})   
df_dispovol.head()

,Code Domaine,Domaine,Code zone,Pays,Code Élément,Élément,Code Produit,Produit,Code année,Année,Unité,Valeur,Symbole,Description du Symbole
651,FBS,Nouveaux Bilans Alimentaire,2,Afghanistan,5511,Production,2734,Viande de Volailles,2017,2017,Milliers de tonnes,28.0,S,Données standardisées
652,FBS,Nouveaux Bilans Alimentaire,2,Afghanistan,5611,Importations - Quantité,2734,Viande de Volailles,2017,2017,Milliers de tonnes,29.0,S,Données standardisées
653,FBS,Nouveaux Bilans Alimentaire,2,Afghanistan,5072,Variation de stock,2734,Viande de Volailles,2017,2017,Milliers de tonnes,0.0,S,Données standardisées
654,FBS,Nouveaux Bilans Alimentaire,2,Afghanistan,5301,Disponibilité intérieure,2734,Viande de Volailles,2017,2017,Milliers de tonnes,57.0,S,Données standardisées
655,FBS,Nouveaux Bilans Alimentaire,2,Afghanistan,5123,Pertes,2734,Viande de Volailles,2017,2017,Milliers de tonnes,2.0,S,Données standardisées

In [159]:
df_dispovol=df_dispovol[['Pays', 'Élément', 'Unité', 'Valeur']]
df_dispovol.head()

            Pays                   Élément               Unité  Valeur
651  Afghanistan                Production  Milliers de tonnes    28.0
652  Afghanistan   Importations - Quantité  Milliers de tonnes    29.0
653  Afghanistan        Variation de stock  Milliers de tonnes     0.0
654  Afghanistan  Disponibilité intérieure  Milliers de tonnes    57.0
655  Afghanistan                    Pertes  Milliers de tonnes     2.0

In [160]:
df_dispovol=df_dispovol.pivot_table(index='Pays', columns='Élément', values='Valeur', aggfunc=sum)
df_dispovol.head()

Élément,Alimentation pour touristes,Aliments pour animaux,Autres utilisations (non alimentaire),Disponibilité alimentaire (Kcal/personne/jour),Disponibilité alimentaire en quantité (kg/personne/an),Disponibilité de matière grasse en quantité (g/personne/jour),Disponibilité de protéines en quantité (g/personne/jour),Disponibilité intérieure,Exportations - Quantité,Importations - Quantité,Nourriture,Pertes,Production,Résidus,Semences,Traitement,Variation de stock
Pays,,,,,,,,,,,,,,,,,
Afghanistan,NaN,NaN,NaN,5.0,1.53,0.33,0.54,57.0,NaN,29.0,55.0,2.0,28.0,0.0,NaN,NaN,0.0
Afrique du Sud,0.0,NaN,NaN,143.0,35.69,9.25,14.11,2118.0,63.0,514.0,2035.0,83.0,1667.0,0.0,NaN,NaN,0.0
Albanie,NaN,NaN,NaN,85.0,16.36,6.45,6.26,47.0,0.0,38.0,47.0,NaN,13.0,0.0,NaN,NaN,4.0
Algérie,0.0,NaN,NaN,22.0,6.38,1.50,1.97,277.0,0.0,2.0,264.0,13.0,275.0,0.0,NaN,NaN,0.0
Allemagne,NaN,NaN,NaN,71.0,19.47,4.16,7.96,1739.0,646.0,842.0,1609.0,NaN,1514.0,-38.0,NaN,167.0,-29.0

In [161]:
df_dispovol=df_dispovol.reset_index()
df_dispovol=df_dispovol[['Pays', 'Disponibilité alimentaire en quantité (kg/personne/an)', 'Disponibilité intérieure', 'Exportations - Quantité',	'Importations - Quantité', 'Production', 'Variation de stock']]
df_dispovol.head(2)

Élément,Pays,Disponibilité alimentaire en quantité (kg/personne/an),Disponibilité intérieure,Exportations - Quantité,Importations - Quantité,Production,Variation de stock
0,Afghanistan,1.53,57.0,NaN,29.0,28.0,0.0
1,Afrique du Sud,35.69,2118.0,63.0,514.0,1667.0,0.0

### Table Population

In [10]:
#Garder l'année 2017 
df_pop2017=df_pop[df_pop['Année']==2017]        
df_pop2017.head()

,Code Domaine,Domaine,Code zone,Zone,Code Élément,Élément,Code Produit,Produit,Code année,Année,Unité,Valeur,Symbole,Description du Symbole,Note
17,OA,Séries temporelles annuelles,2,Afghanistan,511,Population totale,3010,Population-Estimations,2017,2017,1000 personnes,36296.113,X,Sources internationales sûres,NaN
36,OA,Séries temporelles annuelles,202,Afrique du Sud,511,Population totale,3010,Population-Estimations,2017,2017,1000 personnes,57009.756,X,Sources internationales sûres,NaN
55,OA,Séries temporelles annuelles,3,Albanie,511,Population totale,3010,Population-Estimations,2017,2017,1000 personnes,2884.169,X,Sources internationales sûres,NaN
74,OA,Séries temporelles annuelles,4,Algérie,511,Population totale,3010,Population-Estimations,2017,2017,1000 personnes,41389.189,X,Sources internationales sûres,NaN
93,OA,Séries temporelles annuelles,79,Allemagne,511,Population totale,3010,Population-Estimations,2017,2017,1000 personnes,82658.409,X,Sources internationales sûres,NaN

In [11]:
df_pop2017=df_pop2017[['Zone', 'Unité', 'Valeur']]
df_pop2017.head()

              Zone           Unité     Valeur
17     Afghanistan  1000 personnes  36296.113
36  Afrique du Sud  1000 personnes  57009.756
55         Albanie  1000 personnes   2884.169
74         Algérie  1000 personnes  41389.189
93       Allemagne  1000 personnes  82658.409

In [12]:
#renomme la colonne zone par pays
df_pop2017=df_pop2017.rename(columns={'Zone':'Pays', 'Valeur':'Population'}) 
df_pop2017.head()

              Pays           Unité  Population
17     Afghanistan  1000 personnes   36296.113
36  Afrique du Sud  1000 personnes   57009.756
55         Albanie  1000 personnes    2884.169
74         Algérie  1000 personnes   41389.189
93       Allemagne  1000 personnes   82658.409

In [13]:
df_pop2017['Population']=df_pop2017['Population'] * 1000
df_pop2017

                                        Pays           Unité  Population
17                               Afghanistan  1000 personnes  36296113.0
36                            Afrique du Sud  1000 personnes  57009756.0
55                                   Albanie  1000 personnes   2884169.0
74                                   Algérie  1000 personnes  41389189.0
93                                 Allemagne  1000 personnes  82658409.0
...                                      ...             ...         ...
4333  Venezuela (République bolivarienne du)  1000 personnes  29402484.0
4352                                Viet Nam  1000 personnes  94600648.0
4371                                   Yémen  1000 personnes  27834819.0
4390                                  Zambie  1000 personnes  16853599.0
4409                                Zimbabwe  1000 personnes  14236595.0

[236 rows x 3 columns]

In [14]:
df_pop2017=df_pop2017[['Pays', 'Population']]
df_pop2017

                                        Pays  Population
17                               Afghanistan  36296113.0
36                            Afrique du Sud  57009756.0
55                                   Albanie   2884169.0
74                                   Algérie  41389189.0
93                                 Allemagne  82658409.0
...                                      ...         ...
4333  Venezuela (République bolivarienne du)  29402484.0
4352                                Viet Nam  94600648.0
4371                                   Yémen  27834819.0
4390                                  Zambie  16853599.0
4409                                Zimbabwe  14236595.0

[236 rows x 2 columns]

### Table PIB et Indice de stabilité politique

In [15]:
#df_pibind.head(2)

In [58]:
df_pibind=df_pibind.pivot_table(index='Zone', columns='Produit', values='Valeur', aggfunc=sum)
df_pibind.head()

Produit,"PIB par habitant, ($ PPA internationaux constants de 2011)",Stabilité politique et absence de violence/terrorisme (indice)
Zone,,
Afghanistan,2058.4,-2.80
Afrique du Sud,12701.3,-0.28
Albanie,12771.0,0.38
Algérie,11737.4,-0.92
Allemagne,52952.9,0.59

In [59]:
df_pibind=df_pibind.reset_index()
#renomme la colonne zone par pays
df_pibind=df_pibind.rename(columns={'Zone':'Pays'}) 
df_pibind.head()

Produit,Pays,"PIB par habitant, ($ PPA internationaux constants de 2011)",Stabilité politique et absence de violence/terrorisme (indice)
0,Afghanistan,2058.4,-2.80
1,Afrique du Sud,12701.3,-0.28
2,Albanie,12771.0,0.38
3,Algérie,11737.4,-0.92
4,Allemagne,52952.9,0.59

# **<font color='indianred'>Partie 2 : Analyse des jeux de données</font>**

# <a name="C3"><font color='LightSeaGreen'>Affichage du nombre de lignes et colonnes des jeux de données</font></a>

In [162]:
#nombre de lignes et colonnes
print('Disponibilité alimentaire',df_dispovol.shape)
print('Population',df_pop2017.shape)
print('PIB_Indice',df_pibind.shape)

Disponibilité alimentaire (172, 7)
Population (236, 2)
PIB_Indice (198, 3)

# <a name="C4"><font color='LightSeaGreen'>Affichage des informations des jeux de données</font></a>

In [163]:
print('Table Disponibilité Alimentaire')
df_dispovol.info()
print('\n')
print('Table Population')
print('-------------------------------------')
df_pop2017.info()
print('\n')
print('Table PIB Indice')
print('-------------------------------------')
df_pibind.info()

Table Disponibilité Alimentaire
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 172 entries, 0 to 171
Data columns (total 7 columns):
 #   Column                                                  Non-Null Count  Dtype
---  ------                                                  --------------  -----
 0   Pays                                                    172 non-null    object
 1   Disponibilité alimentaire en quantité (kg/personne/an)  172 non-null    float64
 2   Disponibilité intérieure                                170 non-null    float64
 3   Exportations - Quantité                                 135 non-null    float64
 4   Importations - Quantité                                 170 non-null    float64
 5   Production                                              168 non-null    float64
 6   Variation de stock                                      169 non-null    float64
dtypes: float64(6), object(1)
memory usage: 9.5+ KB


Table Population
-------------------------------------
<class 'pandas.core.frame.DataFrame'>
Int64Index: 236 entries, 17 to 4409
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Pays        236 non-null    object
 1   Population  236 non-null    float64
dtypes: float64(1), object(1)
memory usage: 5.5+ KB


Table PIB Indice
-------------------------------------
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 198 entries, 0 to 197
Data columns (total 3 columns):
 #   Column                                                          Non-Null Count  Dtype
---  ------                                                          --------------  -----
 0   Pays                                                            198 non-null    object
 1   PIB par habitant, ($ PPA internationaux constants de 2011)      198 non-null    float64
 2   Stabilité politique et absence de violence/terrorisme (indice)  198 non-null    float64
dtypes: float64(2), object(1)
memory usage: 4.8+ KB

# <a name="C5"><font color='LightSeaGreen'>Analyse des valeurs manquantes</font></a>

In [164]:
#Création d'une fonction calculant le pourcentage de valeurs manquantes 
#et affichant une heatmap pour visualiser les valeurs manquantes 
def val_manq(df):
    ligne,colonne=df.shape
    nb_cell=ligne*colonne
    nb_null=df.isnull().sum().sum()
    prct=nb_null *100/nb_cell
    print('Nombre de valeurs manquantes =',nb_null)
    print('Nombre de cellulles totales =',nb_cell)
    print('Pourcentage de valeurs manquantes = ',round(prct,2),'%') 
    print('\n')
    #print('Pourcentage de valeurs manquantes avec le nombre de colonnes =\n',(df.isna().sum()).value_counts(ascending=True))
    #Calcul des pourcentages de valeurs manquantes par variable(colonne)
    print('\n')
    print('Pourcentage de valeurs manquantes par variable/colonne =\n', 
          (df.isna().sum()).sort_values(ascending=True))
    print('\n')

In [165]:
#Appel de la fonction val_manq 
#Affichage des pourcentages de valeurs manquantes des 2 jeux de données 
print('1-Table disponibilité alimentaire :')
val_manq(df_dispovol)
print('---------------------------------------')
print('2-Table population :')
val_manq(df_pop2017)
print('---------------------------------------')
print('3-Table PIB Indice :')
val_manq(df_pibind)

1-Table disponibilité alimentaire :
Nombre de valeurs manquantes = 48
Nombre de cellulles totales = 1204
Pourcentage de valeurs manquantes =  3.99 %




Pourcentage de valeurs manquantes par variable/colonne =
 Élément
Pays                                                       0
Disponibilité alimentaire en quantité (kg/personne/an)     0
Disponibilité intérieure                                   2
Importations - Quantité                                    2
Variation de stock                                         3
Production                                                 4
Exportations - Quantité                                   37
dtype: int64


---------------------------------------
2-Table population :
Nombre de valeurs manquantes = 0
Nombre de cellulles totales = 472
Pourcentage de valeurs manquantes =  0.0 %




Pourcentage de valeurs manquantes par variable/colonne =
 Pays          0
Population    0
dtype: int64


---------------------------------------
3-Table PIB Indice :
Nombre de valeurs manquantes = 0
Nombre de cellulles totales = 594
Pourcentage de valeurs manquantes =  0.0 %




Pourcentage de valeurs manquantes par variable/colonne =
 Produit
Pays                                                              0
PIB par habitant, ($ PPA internationaux constants de 2011)        0
Stabilité politique et absence de violence/terrorisme (indice)    0
dtype: int64

##<font color='purple'>Affichage des valeurs manquantes et affectation de valeurs</font>

In [171]:
df1 = df_dispovol[df_dispovol.isnull().any(axis=1)]
df1

Élément,Pays,Disponibilité alimentaire en quantité (kg/personne/an),Disponibilité intérieure,Exportations - Quantité,Importations - Quantité,Production,Variation de stock
0,Afghanistan,1.53,57.0,NaN,29.0,28.0,0.0
13,Bahamas,43.17,26.0,NaN,24.0,6.0,4.0
14,Bangladesh,1.50,250.0,NaN,0.0,249.0,0.0
23,Burkina Faso,2.27,46.0,NaN,0.0,46.0,0.0
26,Cabo Verde,17.62,10.0,NaN,12.0,1.0,4.0
27,Cambodge,2.34,38.0,NaN,10.0,28.0,0.0
40,Cuba,23.72,342.0,NaN,312.0,29.0,-1.0
43,Djibouti,2.68,3.0,NaN,3.0,NaN,0.0
54,Gambie,3.53,8.0,NaN,16.0,2.0,10.0
56,Grenade,45.70,8.0,NaN,7.0,1.0,0.0
59,Guinée,4.08,50.0,NaN,37.0,13.0,0.0
60,Guinée-Bissau,2.16,4.0,NaN,4.0,3.0,3.0
63,Haïti,8.91,98.0,NaN,89.0,9.0,0.0
80,Kiribati,17.98,2.0,NaN,1.0,1.0,0.0
89,Madagascar,2.87,82.0,NaN,0.0,81.0,0.0
91,Malawi,5.17,98.0,NaN,0.0,130.0,33.0
92,Maldives,13.50,12.0,NaN,12.0,NaN,0.0
93,Mali,2.83,52.0,NaN,1.0,48.0,-4.0
97,Mauritanie,5.14,22.0,NaN,24.0,5.0,6.0
99,Mongolie,2.77,9.0,NaN,10.0,0.0,1.0
101,Mozambique,3.59,116.0,NaN,24.0,92.0,-1.0
108,Nouvelle-Calédonie,38.71,11.0,NaN,9.0,1.0,-1.0
110,Népal,1.99,58.0,NaN,0.0,58.0,0.0
113,Ouzbékistan,1.96,NaN,NaN,NaN,NaN,NaN
122,Pérou,13.47,1523.0,1.0,60.0,1465.0,NaN
126,République centrafricaine,2.29,11.0,NaN,4.0,7.0,0.0
130,République démocratique populaire lao,10.91,NaN,NaN,NaN,NaN,NaN
132,République-Unie de Tanzanie,1.88,108.0,NaN,2.0,105.0,0.0
134,Saint-Vincent-et-les Grenadines,72.31,8.0,NaN,9.0,0.0,1.0
135,Sainte-Lucie,56.69,11.0,NaN,10.0,1.0,0.0
137,Sao Tomé-et-Principe,9.47,2.0,NaN,2.0,1.0,1.0
142,Soudan,1.60,69.0,NaN,2.0,67.0,0.0
148,Tadjikistan,4.45,40.0,NaN,38.0,2.0,0.0
152,Timor-Leste,4.24,5.0,NaN,11.0,1.0,7.0
156,Turkménistan,4.52,27.0,NaN,9.0,20.0,2.0
160,Vanuatu,11.66,3.0,NaN,4.0,1.0,1.0
165,Zimbabwe,4.68,76.0,NaN,6.0,69.0,0.0
170,Éthiopie,0.13,14.0,NaN,1.0,14.0,0.0

In [124]:
df_dispovol['Exportations - Quantité']=df_dispovol['Production']+df_dispovol['Importations - Quantité']+df_dispovol['Variation de stock']-df_dispovol['Disponibilité intérieure']
df_dispovol.head()

Élément,Pays,Disponibilité alimentaire en quantité (kg/personne/an),Disponibilité intérieure,Exportations - Quantité,Importations - Quantité,Production,Variation de stock
0,Afghanistan,1.53,57.0,0.0,29.0,28.0,0.0
1,Afrique du Sud,35.69,2118.0,63.0,514.0,1667.0,0.0
2,Albanie,16.36,47.0,8.0,38.0,13.0,4.0
3,Algérie,6.38,277.0,0.0,2.0,275.0,0.0
4,Allemagne,19.47,1739.0,588.0,842.0,1514.0,-29.0

In [125]:
df_dispovol[df_dispovol['Exportations - Quantité'].isna()]

Élément,Pays,Disponibilité alimentaire en quantité (kg/personne/an),Disponibilité intérieure,Exportations - Quantité,Importations - Quantité,Production,Variation de stock
43,Djibouti,2.68,3.0,NaN,3.0,NaN,0.0
92,Maldives,13.50,12.0,NaN,12.0,NaN,0.0

In [113]:
df_dispovol['Importations - Quantité']=df_dispovol['Exportations - Quantité']-df_dispovol['Production']-df_dispovol['Variation de stock']+df_dispovol['Disponibilité intérieure']
df_dispovol.tail()

Élément,Pays,Disponibilité alimentaire en quantité (kg/personne/an),Disponibilité intérieure,Exportations - Quantité,Importations - Quantité,Production,Variation de stock
167,Émirats arabes unis,43.47,412.0,43.0,433.0,48.0,-26.0
168,Équateur,19.31,341.0,-2.0,0.0,340.0,-1.0
169,États-Unis d'Amérique,55.68,18266.0,3851.0,123.0,21914.0,80.0
170,Éthiopie,0.13,14.0,1.0,1.0,14.0,0.0
171,Îles Salomon,4.45,3.0,6.0,6.0,0.0,3.0

In [122]:
df_dispovol[df_dispovol['Importations - Quantité'].isna()]

Empty DataFrame
Columns: [Pays, Disponibilité alimentaire en quantité (kg/personne/an), Disponibilité intérieure, Exportations - Quantité, Importations - Quantité, Production, Variation de stock]
Index: []

In [120]:
#Affectation des valeurs manquantes par les valeurs trouvées dans mes recherches
df_dispovol.loc[df_dispovol['Pays'] == 'Pérou','Exportations - Quantité'] = 1
df_dispovol.loc[df_dispovol['Pays'] == 'Pérou','Importations - Quantité'] = 60
df_dispovol.loc[df_dispovol['Pays'] == 'Pérou','Variation de stock'] = 0
df_dispovol.loc[df_dispovol['Pays'] == 'Ouzbékistan','Importations - Quantité'] = 8
df_dispovol.loc[df_dispovol['Pays'] == 'Ouzbékistan','Disponibilité intérieure'] = 67
df_dispovol.loc[df_dispovol['Pays'] == 'Ouzbékistan','Production'] = 58
df_dispovol.loc[df_dispovol['Pays'] == 'Ouzbékistan','Variation de stock'] = -2
df_dispovol.loc[df_dispovol['Pays'] == 'Ouzbékistan','Exportations - Quantité'] = 0
df_dispovol.loc[df_dispovol['Pays'] == 'Djibouti','Importations - Quantité'] = 3
df_dispovol.loc[df_dispovol['Pays'] == 'Maldives','Importations - Quantité'] = 12
df_dispovol.loc[df_dispovol['Pays'] == 'République démocratique populaire lao','Importations - Quantité'] = 5
df_dispovol.loc[df_dispovol['Pays'] == 'République démocratique populaire lao','Production'] = 33
df_dispovol.loc[df_dispovol['Pays'] == 'République démocratique populaire lao','Variation de stock'] = 0
df_dispovol.loc[df_dispovol['Pays'] == 'République démocratique populaire lao','Disponibilité intérieure'] = 38

In [121]:
df_dispovol[df_dispovol['Variation de stock'].isna()]

Empty DataFrame
Columns: [Pays, Disponibilité alimentaire en quantité (kg/personne/an), Disponibilité intérieure, Exportations - Quantité, Importations - Quantité, Production, Variation de stock]
Index: []

In [128]:
val_manq(df_dispovol)

Nombre de valeurs manquantes = 0
Nombre de cellulles totales = 1204
Pourcentage de valeurs manquantes =  0.0 %




Pourcentage de valeurs manquantes par variable/colonne =
 Élément
Pays                                                      0
Disponibilité alimentaire en quantité (kg/personne/an)    0
Disponibilité intérieure                                  0
Exportations - Quantité                                   0
Importations - Quantité                                   0
Production                                                0
Variation de stock                                        0
dtype: int64

In [127]:
#Il reste toujours 4 valeurs manquantes pour l'exportation et la production des Maldives et Djibouti 
#que je vais remplacer par 0
df_dispovol=df_dispovol.fillna(0)
df_dispovol.head()

Élément,Pays,Disponibilité alimentaire en quantité (kg/personne/an),Disponibilité intérieure,Exportations - Quantité,Importations - Quantité,Production,Variation de stock
0,Afghanistan,1.53,57.0,0.0,29.0,28.0,0.0
1,Afrique du Sud,35.69,2118.0,63.0,514.0,1667.0,0.0
2,Albanie,16.36,47.0,8.0,38.0,13.0,4.0
3,Algérie,6.38,277.0,0.0,2.0,275.0,0.0
4,Allemagne,19.47,1739.0,588.0,842.0,1514.0,-29.0

In [130]:
df_pop2017[df_pop2017['Population'].isna()]

Empty DataFrame
Columns: [Pays, Population]
Index: []

Pas de valeur manquante dans la table population

In [131]:
df_pibind[df_pibind['PIB par habitant, ($ PPA internationaux constants de 2011)'].isna()]

Produit,Pays,"PIB par habitant, ($ PPA internationaux constants de 2011)",Stabilité politique et absence de violence/terrorisme (indice)
5,Andorre,NaN,1.42
40,"Chine, Taiwan Province de",NaN,0.86
47,Cuba,NaN,0.65
64,Groenland,NaN,1.92
141,République arabe syrienne,NaN,-2.62
148,République populaire démocratique de Corée,NaN,-0.50
154,Samoa américaines,NaN,1.22
164,Soudan du Sud,NaN,-2.45
185,Venezuela (République bolivarienne du),NaN,-1.25
187,Yémen,NaN,-2.94
193,Érythrée,NaN,-0.73

In [132]:
#Affectation des valeurs manquantes par les valeurs trouvées dans mes recherches
df_pibind.loc[df_pibind['Pays'] == 'Andorre','PIB par habitant, ($ PPA internationaux constants de 2011)'] = 56352.2
df_pibind.loc[df_pibind['Pays'] == 'Chine, Taiwan Province de','PIB par habitant, ($ PPA internationaux constants de 2011)'] = 48500.8
df_pibind.loc[df_pibind['Pays'] == 'Samoa américaines','PIB par habitant, ($ PPA internationaux constants de 2011)'] = 5668
df_pibind.loc[df_pibind['Pays'] == 'Soudan du Sud','PIB par habitant, ($ PPA internationaux constants de 2011)'] = 888.8
df_pibind.loc[df_pibind['Pays'] == 'Yémen','PIB par habitant, ($ PPA internationaux constants de 2011)'] = 2150
df_pibind.loc[df_pibind['Pays'] == 'Érythrée','PIB par habitant, ($ PPA internationaux constants de 2011)'] = 1537.5

In [133]:
#Il reste toujours des valeurs manquantes pour 6 pays pour les 2 variables PIB par habitant et l'indice de Stabilité politique 
#que je vais remplacer par 0
df_pibind=df_pibind.fillna(0)
df_pibind.head()

Produit,Pays,"PIB par habitant, ($ PPA internationaux constants de 2011)",Stabilité politique et absence de violence/terrorisme (indice)
0,Afghanistan,2058.4,-2.80
1,Afrique du Sud,12701.3,-0.28
2,Albanie,12771.0,0.38
3,Algérie,11737.4,-0.92
4,Allemagne,52952.9,0.59

In [134]:
df_pibind[df_pibind['Stabilité politique et absence de violence/terrorisme (indice)'].isna()]

Empty DataFrame
Columns: [Pays, PIB par habitant, ($ PPA internationaux constants de 2011), Stabilité politique et absence de violence/terrorisme (indice)]
Index: []

# <a name="C6"><font color='LightSeaGreen'>Unicité de la clé primaire</font></a>

In [135]:
#Creation d'une fonction qui teste l'unicité d'une colonne
def cle_primaire(df,col):
    if len(df)==len(df[col].unique()):
        print('La variable', col, 'est une clé primaire')
    else: 
        print('La variable', col, 'n\'est pas une clé primaire')

In [136]:
cle_primaire(df_dispovol,'Pays')
cle_primaire(df_pop2017,'Pays')
cle_primaire(df_pibind,'Pays')

La variable Pays est une clé primaire
La variable Pays est une clé primaire
La variable Pays est une clé primaire

# <a name="C7"><font color='LightSeaGreen'>Analyse des doublons</font></a>

In [137]:
#Fonction qui detecte les doublons
def detect_doublons(df):
    doub=df[df[df.columns].duplicated(subset=None, keep='first')]
    print('------------------') 
    print('La table contient', len(doub), 'doublons.')
    print(doub.shape)
    print('\n') 
    print(doub)
    print('\n')

In [138]:
print('------------------') 
print('Table disponibilité alimentaire')
detect_doublons(df_dispovol)
print('------------------') 
print('Table population')
detect_doublons(df_pop2017)
print('------------------') 
print('Table pib indice')
detect_doublons(df_pibind)

------------------
Table disponibilité alimentaire
------------------
La table contient 0 doublons.
(0, 7)


Empty DataFrame
Columns: [Pays, Disponibilité alimentaire en quantité (kg/personne/an), Disponibilité intérieure, Exportations - Quantité, Importations - Quantité, Production, Variation de stock]
Index: []


------------------
Table population
------------------
La table contient 0 doublons.
(0, 2)


Empty DataFrame
Columns: [Pays, Population]
Index: []


------------------
Table pib indice
------------------
La table contient 0 doublons.
(0, 3)


Empty DataFrame
Columns: [Pays, PIB par habitant, ($ PPA internationaux constants de 2011), Stabilité politique et absence de violence/terrorisme (indice)]
Index: []

# <a name="C3"><font color='LightSeaGreen'>Jointure des tables</font></a>

In [139]:
#Jointure externe complète entre disponibilité alimentaire et population
df_dispop=pd.merge(df_dispovol, df_pop2017, left_on='Pays', right_on='Pays', how='outer', indicator=True)
df_dispop

,Pays,Disponibilité alimentaire en quantité (kg/personne/an),Disponibilité intérieure,Exportations - Quantité,Importations - Quantité,Production,Variation de stock,Population,_merge
0,Afghanistan,1.53,57.0,0.0,29.0,28.0,0.0,36296113.0,both
1,Afrique du Sud,35.69,2118.0,63.0,514.0,1667.0,0.0,57009756.0,both
2,Albanie,16.36,47.0,8.0,38.0,13.0,4.0,2884169.0,both
3,Algérie,6.38,277.0,0.0,2.0,275.0,0.0,41389189.0,both
4,Allemagne,19.47,1739.0,588.0,842.0,1514.0,-29.0,82658409.0,both
...,...,...,...,...,...,...,...,...,...
231,Somalie,NaN,NaN,NaN,NaN,NaN,NaN,14589179.0,right_only
232,Soudan du Sud,NaN,NaN,NaN,NaN,NaN,NaN,10910763.0,right_only
233,Tokélaou,NaN,NaN,NaN,NaN,NaN,NaN,1300.0,right_only
234,Tonga,NaN,NaN,NaN,NaN,NaN,NaN,101998.0,right_only
235,Tuvalu,NaN,NaN,NaN,NaN,NaN,NaN,11370.0,right_only

In [140]:
df_dispop[df_dispop['Disponibilité alimentaire en quantité (kg/personne/an)'].isna()]

,Pays,Disponibilité alimentaire en quantité (kg/personne/an),Disponibilité intérieure,Exportations - Quantité,Importations - Quantité,Production,Variation de stock,Population,_merge
172,Andorre,NaN,NaN,NaN,NaN,NaN,NaN,77001.0,right_only
173,Anguilla,NaN,NaN,NaN,NaN,NaN,NaN,14584.0,right_only
174,Antilles néerlandaises (ex),NaN,NaN,NaN,NaN,NaN,NaN,275186.0,right_only
175,Aruba,NaN,NaN,NaN,NaN,NaN,NaN,105366.0,right_only
176,Bahreïn,NaN,NaN,NaN,NaN,NaN,NaN,1494076.0,right_only
...,...,...,...,...,...,...,...,...,...
231,Somalie,NaN,NaN,NaN,NaN,NaN,NaN,14589179.0,right_only
232,Soudan du Sud,NaN,NaN,NaN,NaN,NaN,NaN,10910763.0,right_only
233,Tokélaou,NaN,NaN,NaN,NaN,NaN,NaN,1300.0,right_only
234,Tonga,NaN,NaN,NaN,NaN,NaN,NaN,101998.0,right_only
235,Tuvalu,NaN,NaN,NaN,NaN,NaN,NaN,11370.0,right_only

In [141]:
df_dispop[df_dispop['Exportations - Quantité'].isna()]

,Pays,Disponibilité alimentaire en quantité (kg/personne/an),Disponibilité intérieure,Exportations - Quantité,Importations - Quantité,Production,Variation de stock,Population,_merge
172,Andorre,NaN,NaN,NaN,NaN,NaN,NaN,77001.0,right_only
173,Anguilla,NaN,NaN,NaN,NaN,NaN,NaN,14584.0,right_only
174,Antilles néerlandaises (ex),NaN,NaN,NaN,NaN,NaN,NaN,275186.0,right_only
175,Aruba,NaN,NaN,NaN,NaN,NaN,NaN,105366.0,right_only
176,Bahreïn,NaN,NaN,NaN,NaN,NaN,NaN,1494076.0,right_only
...,...,...,...,...,...,...,...,...,...
231,Somalie,NaN,NaN,NaN,NaN,NaN,NaN,14589179.0,right_only
232,Soudan du Sud,NaN,NaN,NaN,NaN,NaN,NaN,10910763.0,right_only
233,Tokélaou,NaN,NaN,NaN,NaN,NaN,NaN,1300.0,right_only
234,Tonga,NaN,NaN,NaN,NaN,NaN,NaN,101998.0,right_only
235,Tuvalu,NaN,NaN,NaN,NaN,NaN,NaN,11370.0,right_only

In [142]:
df_dispop[df_dispop['Importations - Quantité'].isna()]

,Pays,Disponibilité alimentaire en quantité (kg/personne/an),Disponibilité intérieure,Exportations - Quantité,Importations - Quantité,Production,Variation de stock,Population,_merge
172,Andorre,NaN,NaN,NaN,NaN,NaN,NaN,77001.0,right_only
173,Anguilla,NaN,NaN,NaN,NaN,NaN,NaN,14584.0,right_only
174,Antilles néerlandaises (ex),NaN,NaN,NaN,NaN,NaN,NaN,275186.0,right_only
175,Aruba,NaN,NaN,NaN,NaN,NaN,NaN,105366.0,right_only
176,Bahreïn,NaN,NaN,NaN,NaN,NaN,NaN,1494076.0,right_only
...,...,...,...,...,...,...,...,...,...
231,Somalie,NaN,NaN,NaN,NaN,NaN,NaN,14589179.0,right_only
232,Soudan du Sud,NaN,NaN,NaN,NaN,NaN,NaN,10910763.0,right_only
233,Tokélaou,NaN,NaN,NaN,NaN,NaN,NaN,1300.0,right_only
234,Tonga,NaN,NaN,NaN,NaN,NaN,NaN,101998.0,right_only
235,Tuvalu,NaN,NaN,NaN,NaN,NaN,NaN,11370.0,right_only

In [143]:
#Suppression des pays qui n'ont aucune information dans la table disponibilité alimentaire
df_dispop=df_dispop.drop(df_dispop[df_dispop['_merge']=='right_only'].index)
df_dispop.head()

,Pays,Disponibilité alimentaire en quantité (kg/personne/an),Disponibilité intérieure,Exportations - Quantité,Importations - Quantité,Production,Variation de stock,Population,_merge
0,Afghanistan,1.53,57.0,0.0,29.0,28.0,0.0,36296113.0,both
1,Afrique du Sud,35.69,2118.0,63.0,514.0,1667.0,0.0,57009756.0,both
2,Albanie,16.36,47.0,8.0,38.0,13.0,4.0,2884169.0,both
3,Algérie,6.38,277.0,0.0,2.0,275.0,0.0,41389189.0,both
4,Allemagne,19.47,1739.0,588.0,842.0,1514.0,-29.0,82658409.0,both

In [144]:
df_dispop[df_dispop['Disponibilité alimentaire en quantité (kg/personne/an)'].isna()]

Empty DataFrame
Columns: [Pays, Disponibilité alimentaire en quantité (kg/personne/an), Disponibilité intérieure, Exportations - Quantité, Importations - Quantité, Production, Variation de stock, Population, _merge]
Index: []

In [145]:
#Jointure externe complète entre dispop et la table du PIB et de la stabilité politique
df_final=pd.merge(df_dispop, df_pibind, left_on='Pays', right_on='Pays', how='outer')
df_final

,Pays,Disponibilité alimentaire en quantité (kg/personne/an),Disponibilité intérieure,Exportations - Quantité,Importations - Quantité,Production,Variation de stock,Population,_merge,"PIB par habitant, ($ PPA internationaux constants de 2011)",Stabilité politique et absence de violence/terrorisme (indice)
0,Afghanistan,1.53,57.0,0.0,29.0,28.0,0.0,36296113.0,both,2058.4,-2.80
1,Afrique du Sud,35.69,2118.0,63.0,514.0,1667.0,0.0,57009756.0,both,12701.3,-0.28
2,Albanie,16.36,47.0,8.0,38.0,13.0,4.0,2884169.0,both,12771.0,0.38
3,Algérie,6.38,277.0,0.0,2.0,275.0,0.0,41389189.0,both,11737.4,-0.92
4,Allemagne,19.47,1739.0,588.0,842.0,1514.0,-29.0,82658409.0,both,52952.9,0.59
...,...,...,...,...,...,...,...,...,...,...,...
196,Soudan du Sud,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,888.8,-2.45
197,Tonga,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6467.1,0.79
198,Tuvalu,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3896.7,1.24
199,Érythrée,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1537.5,-0.73
200,Îles Marshall,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3706.3,0.87

In [152]:
df_final[df_final['Disponibilité alimentaire en quantité (kg/personne/an)'].isna()].sum()

Pays                                                              0.0
Disponibilité alimentaire en quantité (kg/personne/an)            0.0
Disponibilité intérieure                                          0.0
Exportations - Quantité                                           0.0
Importations - Quantité                                           0.0
Production                                                        0.0
Variation de stock                                                0.0
Population                                                        0.0
PIB par habitant, ($ PPA internationaux constants de 2011)        0.0
Stabilité politique et absence de violence/terrorisme (indice)    0.0
dtype: float64

In [147]:
#Suppression des pays qui n'ont aucune information dans la table disponibilité alimentaire
df_final=df_final.dropna()
df_final.head()

,Pays,Disponibilité alimentaire en quantité (kg/personne/an),Disponibilité intérieure,Exportations - Quantité,Importations - Quantité,Production,Variation de stock,Population,_merge,"PIB par habitant, ($ PPA internationaux constants de 2011)",Stabilité politique et absence de violence/terrorisme (indice)
0,Afghanistan,1.53,57.0,0.0,29.0,28.0,0.0,36296113.0,both,2058.4,-2.80
1,Afrique du Sud,35.69,2118.0,63.0,514.0,1667.0,0.0,57009756.0,both,12701.3,-0.28
2,Albanie,16.36,47.0,8.0,38.0,13.0,4.0,2884169.0,both,12771.0,0.38
3,Algérie,6.38,277.0,0.0,2.0,275.0,0.0,41389189.0,both,11737.4,-0.92
4,Allemagne,19.47,1739.0,588.0,842.0,1514.0,-29.0,82658409.0,both,52952.9,0.59

In [148]:
#suppression de la colonne _merge
df_final=df_final.drop(['_merge'], axis = 1)

In [149]:
df_final.head()

,Pays,Disponibilité alimentaire en quantité (kg/personne/an),Disponibilité intérieure,Exportations - Quantité,Importations - Quantité,Production,Variation de stock,Population,"PIB par habitant, ($ PPA internationaux constants de 2011)",Stabilité politique et absence de violence/terrorisme (indice)
0,Afghanistan,1.53,57.0,0.0,29.0,28.0,0.0,36296113.0,2058.4,-2.80
1,Afrique du Sud,35.69,2118.0,63.0,514.0,1667.0,0.0,57009756.0,12701.3,-0.28
2,Albanie,16.36,47.0,8.0,38.0,13.0,4.0,2884169.0,12771.0,0.38
3,Algérie,6.38,277.0,0.0,2.0,275.0,0.0,41389189.0,11737.4,-0.92
4,Allemagne,19.47,1739.0,588.0,842.0,1514.0,-29.0,82658409.0,52952.9,0.59

In [150]:
df_final.isna().sum()

Pays                                                              0
Disponibilité alimentaire en quantité (kg/personne/an)            0
Disponibilité intérieure                                          0
Exportations - Quantité                                           0
Importations - Quantité                                           0
Production                                                        0
Variation de stock                                                0
Population                                                        0
PIB par habitant, ($ PPA internationaux constants de 2011)        0
Stabilité politique et absence de violence/terrorisme (indice)    0
dtype: int64

In [151]:
df_final.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 169 entries, 0 to 171
Data columns (total 10 columns):
 #   Column                                                          Non-Null Count  Dtype
---  ------                                                          --------------  -----
 0   Pays                                                            169 non-null    object
 1   Disponibilité alimentaire en quantité (kg/personne/an)          169 non-null    float64
 2   Disponibilité intérieure                                        169 non-null    float64
 3   Exportations - Quantité                                         169 non-null    float64
 4   Importations - Quantité                                         169 non-null    float64
 5   Production                                                      169 non-null    float64
 6   Variation de stock                                              169 non-null    float64
 7   Population                                                      169 non-null    float64
 8   PIB par habitant, ($ PPA internationaux constants de 2011)      169 non-null    float64
 9   Stabilité politique et absence de violence/terrorisme (indice)  169 non-null    float64
dtypes: float64(9), object(1)
memory usage: 14.5+ KB

In [156]:
#récupère la ligne où le prix est négatif 
df_final_negatif=df_final[df_final['Exportations - Quantité']<0]
df_final_negatif

,Pays,Disponibilité alimentaire en quantité (kg/personne/an),Disponibilité intérieure,Exportations - Quantité,Importations - Quantité,Production,Variation de stock,Population,"PIB par habitant, ($ PPA internationaux constants de 2011)",Stabilité politique et absence de violence/terrorisme (indice)
7,Arabie saoudite,43.36,1435.0,-205.0,722.0,616.0,-108.0,3.310118e+07,47306.2,-0.58
9,Arménie,16.06,47.0,-3.0,35.0,11.0,-2.0,2.944791e+06,12115.1,-0.62
14,Bangladesh,1.50,250.0,-1.0,0.0,249.0,0.0,1.596854e+08,4160.7,-1.26
25,Bénin,14.40,161.0,-40.0,123.0,18.0,-20.0,1.117520e+07,3044.5,0.03
28,Cameroun,3.16,82.0,-1.0,0.0,81.0,0.0,2.456607e+07,3554.5,-1.10
36,Colombie,31.99,1643.0,-5.0,78.0,1564.0,-4.0,4.890984e+07,14171.3,-0.77
40,Cuba,23.72,342.0,-2.0,312.0,29.0,-1.0,1.133925e+07,0.0,0.65
61,Guyana,38.34,32.0,-2.0,0.0,31.0,-1.0,7.752220e+05,12005.4,-0.04
64,Honduras,21.73,205.0,-1.0,12.0,193.0,-1.0,9.429013e+06,5562.0,-0.56
66,Inde,2.22,3661.0,-235.0,0.0,3545.0,-119.0,1.338677e+09,6182.9,-0.76
67,Indonésie,7.19,2323.0,-42.0,1.0,2301.0,-21.0,2.646510e+08,10935.6,-0.50
68,Iran (République islamique d'),27.52,2220.0,-126.0,6.0,2174.0,-86.0,8.067388e+07,14535.9,-0.93
72,Israël,67.39,636.0,-17.0,0.0,629.0,-10.0,8.243848e+06,38834.0,-0.89
76,Jordanie,28.07,275.0,-11.0,64.0,210.0,-10.0,9.785843e+06,10003.6,-0.50
79,Kirghizistan,3.10,32.0,-1.0,25.0,7.0,-1.0,6.189733e+06,5046.7,-0.43
89,Madagascar,2.87,82.0,-1.0,0.0,81.0,0.0,2.557051e+07,1584.4,-0.30
93,Mali,2.83,52.0,-7.0,1.0,48.0,-4.0,1.851243e+07,2246.8,-1.91
94,Malte,27.17,14.0,-2.0,9.0,4.0,-1.0,4.379330e+05,42644.1,1.25
98,Mexique,32.52,4219.0,-4.0,972.0,3249.0,-6.0,1.247773e+08,19721.3,-0.72
101,Mozambique,3.59,116.0,-1.0,24.0,92.0,-1.0,2.864902e+07,1283.7,-0.93
102,Myanmar,30.37,1666.0,-2.0,3.0,1662.0,-1.0,5.338252e+07,4739.9,-1.08
106,Nigéria,1.01,202.0,-1.0,0.0,201.0,0.0,1.908732e+08,5190.4,-2.00
112,Ouganda,1.52,66.0,-1.0,0.0,65.0,0.0,4.116659e+07,2074.7,-0.57
113,Ouzbékistan,1.96,67.0,-3.0,8.0,58.0,-2.0,3.195978e+07,6518.8,-0.24
114,Pakistan,5.86,1282.0,-2.0,2.0,1281.0,-3.0,2.079062e+08,4571.2,-2.41
118,Philippines,13.87,1521.0,-3.0,249.0,1272.0,-3.0,1.051729e+08,8120.9,-1.18
132,République-Unie de Tanzanie,1.88,108.0,-1.0,2.0,105.0,0.0,5.466034e+07,2530.6,-0.56
143,Sri Lanka,7.78,192.0,-1.0,0.0,192.0,-1.0,2.112803e+07,12584.1,-0.07
161,Venezuela (République bolivarienne du),20.28,626.0,-2.0,25.0,600.0,-1.0,2.940248e+07,0.0,-1.25
165,Zimbabwe,4.68,76.0,-1.0,6.0,69.0,0.0,1.423660e+07,3274.6,-0.71
166,Égypte,12.96,1250.0,-45.0,110.0,1118.0,-23.0,9.644259e+07,11014.5,-1.42
168,Équateur,19.31,341.0,-2.0,0.0,340.0,-1.0,1.678536e+07,11617.9,-0.07

# **<font color='indianred'>Partie 3 : Analyse des indicateurs</font>**

# <a name="C2"><font color='LightSeaGreen'>Disponibilité alimentaire en quantité (kg/personne/an)</font></a>